[2017-07-16 16:43] haeckle opened #1 "Distribute via F-Droid"
Would be really nice for getting automatic updates without relying on Google Play.

https://f-droid.org/

[2017-07-17 05:39] flocke commented on #1
I'm gonna look into how to submit it to F-Droid in the next time.
I just looked over the dependencies I use and there shouldn't be any problems on the license side.

[2017-07-19 06:22] flocke commented on #1
After trying to set up the F-Droid buildserver a couple of times and failing I just submitted it here:
https://gitlab.com/fdroid/rfp/issues/260

I will keep this Issue open until it is accepted.

[2017-07-20 13:11] flocke commented on #1
The submission has been accepted and the app should appear in the F-Droid store in a few days.

[2017-07-20 13:11] #1 closed

[2017-07-20 17:27] haeckle commented on #1
Wow, that was quick. Thanks a lot!

[2017-07-20 18:24] flocke commented on #1
Yeah, that was mostly thanks to the guys at F-Droid.
I submitted my request and it didn't even take a full day for them to add it.

[2017-07-22 07:17] pejakm opened #2 "Import FreeOTP tokens.xml file"
How can I import my codes from [FreeOTP](https://github.com/freeotp/freeotp-android)? They are stored in a xml file, entries look like this:

[code]

[2017-07-22 07:36] pejakm commented on #2
I have tried this tool: http://tomeko.net/online_tools/base32.php?lang=en to convert FreeOTP's secret to hex and then entering it into andOTP, but it didn't reproduce the same code.

[2017-07-22 14:34] flocke commented on #1
It seems to be online in the F-Droid client now.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-23 09:13] flocke commented on #2
I have never used FreeOTP myself and I am currently not at home, but as soon as I return I will have a look.

[2017-07-23 17:56] flocke commented on #2
Could you upload an XML file with an example account for me?

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 05:02] cobraguy opened #3 "Dark theme"
I really love dark themes and enable them on every app that offers them. Right now I'm using Google Authenticator for its dark theme but I much prefer this app because it lets you backup your keys in a simple JSON or encrypted format.

[2017-07-25 05:24] flocke commented on #3
I will look into how to best implement this.
andOTP is my first Android app so I have to research a bit first ;)

[2017-07-25 07:37] jerryn70 opened #4 "Encrypt backup using master password"
Currently we have 2 backup options, plain text JSON backup and encrypted OpenPGP backup.

Plain text is not safe and OpenPGP is safe.

The problem is not everyone is using OpenPGP and some are not interested in using OpenPGP and the remaining others dont know how to use OpenPGP.

For me i dont know how to use OpenPGP and i dont like to use it.

My idea is to add a master password option to the app

[2017-07-25 08:18] flocke commented on #4
I don't mind adding an option to have encrypted backups with a password, but this will need some additional research since this is my first Android app.

But I won't add a master password for opening the app itself, there already is a fork of OTP Authenticator that encrypts the stored internal data with a master password out there: https://github.com/kckrinke/onetimepad

Also the current method of

[2017-07-25 08:32] flocke opened #5 "HOTP Support"
Support HOTP tokens in addition to TOTP

[2017-07-25 09:33] ageru opened #6 "[Poll] App name inaccurate in some places"
# Help wanted: Please head down to the poll and vote for a name for the andOTP launcher icon

Android 7.1.1
andOTP 0.22

## Steps to reproduce
1) Install app from F-droid

## Actual result
App name is 'OTP Authenticator' in app drawer/Android Home, and in the main screen of the app. App is named 'andOTP' accurately in the about section of the app and in Settings>Apps

## Expected result
App name s

[2017-07-25 09:45] flocke commented on #6
This is intended, I wanted the Launcher icon to be named "OTP Authenticator".
Maybe this is confusing some people, if so I can change it.
Let's wait for some more opinions.

[2017-07-25 11:33] flocke commented on #6
Here is a poll to see what the users prefere as name in the launcher:

[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BNWRAS1MQ5581F32VEG8Q3RZ/OTP%20Authenticator)](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BNWRAS1MQ5581F32VEG8Q3RZ/OTP%20Authenticator/vote)
[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BNWRAS1MQ5581F32VEG8

[2017-07-25 23:16] commonsguy opened #7 "Device Authentication Asked Again After Configuration Change"
Version: 0.2.2

Steps to Reproduce:

1. In Settings, check "Require device credentials"

2. Swipe the app off the overview screen, so you start from a clean slate

3. Restart the app from the home screen, and authenticate against the device

4. Rotate the screen

Expected Results: Nothing out of the ordinary

Actual Results: You have to authenticate again

----

Right now, you execute [these lines

[2017-07-26 05:19] flocke commented on #7
This is definitely not intended.
I will look into it, thanks for your suggestions.

[2017-07-26 05:31] #6 closed

[2017-07-26 05:31] #7 closed

[2017-07-26 05:32] flocke commented on #6
Ok, seems pretty obvious where the poll is going.
I changed the names to "andOTP", will be in the next release.

[2017-07-26 05:33] flocke commented on #7
I used the `savedInstanceState == null` methode, which seems to work well for me.

[2017-07-26 05:42] jerryn70 commented on #6
Why you choose the name andOTP ? Any reason behind this ?

I didn't mind the name changes in the app drawer and in the settings. But you guys are right some users get confused of this.

My opinion is, the name 'andOTP' is not good/attractive/catching. Dont be sad, i know this is your first project , iam just telling what I feel that's all. I know it's hard to change the name of the app, so don't t

[2017-07-26 06:21] flocke commented on #6
No specific reason for the name. I just needed something to call my fork and I'm not very creative when it comes to those things ;)

Changing the name now that it is deployed on both Google Play and F-Droid would be a bit complicated (and would require an idea for a new name ...), so I'm just gonna stick with andOTP.

[2017-07-27 19:02] Datenschutz opened #8 "Hide the "Add" button when scrolling down"
I have over 15 entries in the app, however I can't edit the last one since the + button is in the way.

Simplest solution should be to hide the button when scrolling down or when scrolled to the bottom.

[2017-07-27 19:05] Datenschutz opened #9 "Long labels are displayed behind the buttons"
When the label of an entry is long enough, it will be displayed behind the "copy" and "menu" buttons.

[2017-07-27 19:07] Datenschutz commented on #5
I'd suggest to remove the option for adding a HOTP for the time being then.

[2017-07-27 19:14] Datenschutz opened #10 ""Tap to reveal" behaviour"
Just a little improvement - When tapping on entries while "tap to reveal" is enabled, show the OTP when tapping anywhere on the entry, not just the title.

[2017-07-27 20:14] #4 closed

[2017-07-27 20:21] #8 closed

[2017-07-27 20:22] flocke commented on #5
@Datenschutz Done, I removed the HOTP option for now (was still there from some internal testing).

[2017-07-27 20:46] #9 closed

[2017-07-28 06:25] #10 closed

[2017-07-28 06:51] jerryn70 opened #11 "Auto Backup / Schedule Backup"
Option to schedule backup daily/every 2 days/weekly/monthly similar will be a good idea

[2017-07-28 07:31] flocke commented on #11
I like the idea, but this will take some time to implement.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 08:18] Datenschutz commented on #2
Using https://github.com/minus7/freeotp-export/blob/master/freeotp-export.py works for me, if you remove the part that's responsible for extracting the xml.
There is also https://github.com/viljoviitanen/freeotp-export/blob/master/export.html which is in JS, that may be easier to implement. Those scripts convert FreeOTPs tokens.xml into a [usable format](https://github.com/google/google-authentica

[2017-07-28 08:25] flocke commented on #2
I'm not sure yet if I want to add the option to import other formats to andOTP since I want to keep the app itself light.
A simple (online) solution that converts freeotp XML files to (encrypted) andOTP backup files would be the best in my opinion.

[2017-07-28 12:49] alphazo opened #12 "Add a way to sort the entries"
Just migrated from freeOTP to andOTP. I like the support for fingerprint authentication and also import/export functions.
I have quite a number of entries in my list and would find very usefully to have an option to sort the entries based upon the label.

[2017-07-28 12:54] alphazo opened #13 "Option to disable swipe to delete"
## Help wanted: Please see the first comment and tell me your opinion.

While swiping is quite useful in applications like emails it may not be so much of a daily use in an application like andOTP that deals with pretty static entries. I mean have cliking on the three dots to remove an entry is enough.
I find the swipe quite dangerous since it doesn't remind the name of the entry to be removed in

[2017-07-28 14:53] pejakm commented on #2
Sorry, I missed this. First post contains example, just save it as tokens.xml.

[2017-07-28 15:03] pejakm commented on #2
I have managed to import my FreeOTP data to andOTP, thanks!

[2017-07-28 15:06] flocke commented on #13
Question to the other users: Should this be an option or should I just completely disable it?
I just implemented it because the tutorial I took the drag & drop code from also contained swipe to dismiss. Maybe the Remove option in the three dot menu is enough.

[2017-07-28 15:43] d4v3k commented on #13
I would like the swipe feature removed. It's like @alphazo said, it's kind of dangerous and clicking on the three dots seems to be enough.

[2017-07-28 16:19] Datenschutz commented on #13
Completely drop it, the three dot removal way is almost as fast and as said earlier, it's pretty risky.

[2017-07-28 16:26] flocke commented on #13
I'm gonna leave this issue open till Monday and decide then, leaving more users the time to comment.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 20:25] alphazo opened #14 "Have an icon or picture for each entry"
In order to quickly select the right entry or simply view the associated OTP in a faster way it would be nice to have a user selectable little icon/picture for each line.

[2017-07-28 21:07] flocke commented on #14
I like the idea but this will take some time to implement properly, so it's currently very low on my priority list.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-28 21:28] azlux commented on #13
Yes, it's dangerous, you need at least a big popup to confirm, but a menu to delete on entry  is better I think.

[2017-07-29 06:21] jerryn70 commented on #13
Swipe is dangerous.

[2017-07-29 07:48] nebulon42 opened #15 "Cannot scroll on the backup page"
On my device there is no scroll bar on the backup page. So I'm not able to see all options.
LineageOS 14.1 (Android 7.1.2)

[2017-07-29 07:59] flocke commented on #15
I always had everything on one page on my test device so I never encountered that problem.
Will look into it as soon as I can.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 08:03] flocke commented on #3
It needs some more tweaks but the dark theme is working, it will be included in the next release.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 08:06] flocke commented on #12
If you want your entries to be permanently sorted you can manually do that via drag and drop, those changes will be saved.
If you want a temporary (lost on restart of the app) sort method that sorts by label I will look into that.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 09:40] Marmo opened #16 "All tokens are lost after leaving the app"
## Password-based encryption:

**This issue is the result of an upstream bug in certain custom ROMs. Since version 0.4.0 everyone facing this problem can switch the database encryption to the new password-based encryption in the Settings, which SHOULD solve it.**

## Help wanted:

Could everyone facing this problem please tell me those things:

- Model of your phone
- Which ROM are you using (exac

[2017-07-29 12:00] kosciak9 commented on #16
I have same problem, 0.2.2 from F-Droid.

[2017-07-29 14:37] flocke commented on #16
I'm gonna check the F-Droid version when I get home tomorrow.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 14:41] cobraguy commented on #3
Awesome! Thanks for being so quick about it. :)

[2017-07-29 16:05] flocke commented on #16
Do you guys have a File Manager with root access installed? If yes could you check the folder `/data/data/org.shadowice.flocke.andotp/files/`? There should be two files `otp.key` and `secrets.dat`.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 17:22] jerryn70 opened #17 "Copy Token when clicking on the item instead of clicking on the clipboard icon"
Currently we need to click the clipboard icon to copy the Token. For easy copying Clicking on the entry to copy is good. Like freeOTP app

[2017-07-29 18:07] reedcourty opened #18 "Possibility to change label font size"
If the font size of entry labels could be adjustable then the whole entry would be readable.

[2017-07-29 19:29] kosciak9 commented on #16
It's empty for me unfortunately. I have only tried ProtonMail though, and it "got erased" already. I can recreate it, and provide logcat if you want. :)

[2017-07-29 19:47] flocke commented on #16
I'm not at home right now, tomorrow I'm gonna try to set up a virtual device with the F-Droid version and test it. But it would be nice if you could upload a logcat.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 19:48] flocke commented on #16
And you could try downloading the APKs from Github and test them, maybe it's a problem specifically with the F-Droid version.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 19:49] Marmo commented on #16
My install is from Play Store

[2017-07-29 19:57] flocke commented on #16
Which Android version do you guys use?

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 19:58] flocke commented on #18
That sounds easily doable, I could also make the label scroll horizontally if its too long.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 20:00] flocke commented on #17
Do you mean when clicking on the whole card or on the token display? Because the whole card is already reserved for tap to reveal.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-29 20:02] Marmo commented on #16
I use 5.0

I just installed the apk from github. Everything seems to work fine (sending to background, swiping app away, force closing app), tokens are remembered.

After that I installed the app from the Play Store again, and the problem is gone now  o.O

[2017-07-29 20:58] kosciak9 commented on #16
Android 7.1.2 RessurectionRemix on OnePlus2 without Play Store, F-Droid + microG

[2017-07-30 04:21] jerryn70 commented on #17
I mean clicking on the whole card. But that will affect tab to reveal.

[2017-07-30 08:16] flocke commented on #17
I'm actually currently considering to move the copy function to the three-dot menu to save space on the card.
If I implement HOTP support I have to display the counter in addition to all the other stuff so we may run into a space problem when displaying all this information.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 10:31] jerryn70 commented on #17
Moving copy button to the 3 bot menu is more difficult for user to copy Tokens.
That affects the simplicity of this app .

My suggestion is to remove tap to reveal by tap to copy token. Or keep the current copying method.

[2017-07-30 11:25] asmw opened #19 "FYI: I wrote a script to decrypt password-protected backups"
Maybe useful to you or other users:
https://github.com/asmw/andOTP-decrypt

I guess this could also be extended to create valid import files.

[2017-07-30 11:34] Datenschutz commented on #19
Great! You might wanna add that to the Readme or something. @asmw Would you mind to add a QR-Code generation?

[2017-07-30 11:37] Datenschutz commented on #17
@jerryn70 is right there - imagine logging into an online account and always going into the submenu.. tapping the card might actually be better then what I sugessted in #10. It's also the default behaviour of FreeOTP, which is nice for users that switch.

[2017-07-30 11:38] Datenschutz commented on #2
So it might be worth more to get a script / local HTML file with JavaScript which can generate QR-Codes or the secrets from the strings.xml, didn't find something there

[2017-07-30 11:45] asmw commented on #19
@Datenschutz eh, why not :)

[2017-07-30 12:14] asmw commented on #19
There you go.

[2017-07-30 13:04] flocke commented on #16
Did you guys had the original OTP Authenticator app installed when you tried this?

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-30 13:26] flocke commented on #17
For now I like the way it is implemented. I don't really see a need to remove the copy button and drop the tap to reveal function for this. It's not really that difficult to hit the copy button instead of just somewhere on the card.
I will leave it as it is right now, if I encounter space problems during the implementation of HOTP in the future I will revisit the idea.

[2017-07-30 13:26] #17 closed

[2017-07-30 13:30] flocke commented on #19
Thanks for the script @asmw ! I was planing to write something similar myself but you were faster ;)
I will add it to the README of andOTP as soon as I can.

[2017-07-30 13:32] Datenschutz commented on #19
Awesome! Great to see! @flocke maybe add a little note on the backup page? Seems fitting

[2017-07-30 13:38] kosciak9 commented on #16
F-Droid's Google Authenticator (Holo UI). I still have it.

[2017-07-30 14:08] flocke commented on #16
No, I'm talking about this app: https://f-droid.org/packages/net.bierbaumer.otp_authenticator/

[2017-07-30 14:25] flocke commented on #16
For anyone who gets this problem: please post a logcat here, I was unable to reproduce this so far and am not able to debug it without logs.

[2017-07-30 14:45] asmw commented on #19
Another FYI: I wrote this for myself, so someone else should probably review/test this for usability and if the docs are sufficient

[2017-07-30 14:54] flocke commented on #19
@asmw I'm not gonna add it on the Backup menu in the app but I'm gonna drop a link to the GitHub repo in the README of andOTP. If you want I can add some hint like "(needs more testing)" to the link.

[2017-07-30 15:01] #19 closed

[2017-07-30 15:01] #15 closed

[2017-07-30 15:12] asmw commented on #19
Good for me. Thanks for your work!

[2017-07-30 19:42] #18 closed

[2017-07-30 20:24] flocke commented on #13
Ok, this seems pretty clear. I'm gonna remove swipe permanently.

[2017-07-30 20:27] #13 closed

[2017-07-30 20:29] flocke commented on #3
Ok, I spoke to soon ... there are still some things I have to work out for the theme to work.
I will postpone it until the next release.

[2017-07-31 10:59] flocke commented on #3
Would you guys mind if I remove the icons in tap-to-reveal (the little eye and the crossed out eye). They are harder to style than I thought (well for everything below Lollipop).

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-31 21:17] #3 closed

[2017-08-01 05:57] flocke commented on #2
It would be nice if someone else could write a HTML/JavaScript approach to generate QR-Codes from the FreeOTP XML files.
I am not really familiar with HTML or Javascript ...

[2017-08-01 12:45] carmebar opened #20 "OpenPGP with OpenKeychain and security token"
Using OpenKeychain with a security token ends up in an infinite loop.

OpenKeychain prompt says it has finished succesfully and then then it asks again to put the token near the device.
Using another key that doesn't require security token works as expected.

Tested on 0.2.3(F-Droid) and 0.2.4(Google Play)

Thank you for keeping this awesome project alive 😄

[2017-08-01 15:40] flocke commented on #20
Let me check out the code when I get home if I can find some obvious bugs that could cause this.
I don't own a security token myself, would you be willing to test builds and send me logcats of there is an error?
Could you already post a logcat of the current version?

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 12:36] carmebar commented on #20
Sure, I'll help you with the troubleshooting.

org.shadowice.flocke.andotp doesn't output anything relevant during the loop:

[2017-08-02 16:05] flocke commented on #20
Alright, doesn't look to useful ;)
Tomorrow I'm gonna add some debug messages in the OpenPGP part and upload a build for you to test.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 16:07] flocke commented on #20
You grep-ed for andOTP in your logcat, could you try OpenKeychain as well? Maybe they have some useful information.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-02 16:18] carmebar commented on #20
Updated logcat adding OpenKeychain output:

Here are the ps output:

Maybe during the weekend I'll have some time to debug myself the PGP backup code.

[2017-08-04 08:37] flocke commented on #2
I submitted a pull request to https://github.com/viljoviitanen/freeotp-export adding a JavaScript file to export the tokens.xml file and generate QR codes from it.
As soon as it is merged I will close this issue and add it to the README file.

[2017-08-04 11:03] #2 closed

[2017-08-07 09:06] #12 closed

[2017-08-07 09:09] flocke commented on #12
I've implemented a basic function to sort the entries by label.
My question: should the sort methode (by label or unsorted) be saved?
As it is now it is reset to unsorted every time the app is restarted.

[2017-08-07 09:23] alphazo commented on #12
IMHO, the list order should not be reset when you restart the app, once it has been sorted either manually or using the sort button. Maybe a reset button or a dual mode sort button that once toggled can revert the list back to unsorted.

[2017-08-07 09:32] alphazo commented on #12
It would be nice if the mode could be remembered and thus even for the "unsorted" one. Maybe there should be a visual information to indicate the current active mode.

[2017-08-07 11:13] flocke commented on #12
Done, now the sort mode is remembered when the app is closed.
This all will be in the next release.

[2017-08-08 06:20] MaWo2 opened #23 "Feature request: Option to use individual password to protect the app"
I suggest to include the option to define an individual password/PIN to protect the app. Currently, (v0.2.4 F-Droid) only the phone credentials can be used.

[2017-08-08 07:57] j0hnnybash opened #24 "Feature request: allow more Hash Algorithms"
Hi,
seems there´s a hardcoded hash algorithm (sha1).
in redhats FreeOTP (also on F-Droid) for example you can choose between md5, sha1, sha256, sha512.

I´m trying to avoid changing the algorithm on our companys OTP server :)

[2017-08-08 08:17] flocke commented on #24
This should be easy enough to do.

[2017-08-08 08:27] flocke commented on #24
I'm going to add SHA-256 and SHA-512, those are the only two other algorithms specified in the TOTP RFC: https://tools.ietf.org/html/rfc6238
MD5 is not mentioned there so I won't implement it (see also: https://mattrubin.me/2013/12/14/md5-otps.html)

[2017-08-08 12:09] #24 closed

[2017-08-09 21:26] carmebar commented on #20
Seems the bug is not with andOTP but with OpenKeyChains. Conversations seems to have the same problem:
https://github.com/siacs/Conversations/issues/957

[2017-08-09 22:13] carmebar commented on #20
I've found out that you're supposed to send the old intent.
I've created a Pull Request: https://github.com/flocke/andOTP/pull/25

Not sure if that's the way you'd want to fix it but that version works as expected with my Yubikey NEO.

[2017-08-10 05:07] flocke commented on #20
Let me look into it, but as long as it fixes your issue and doesn't break anything else I'm not against merging it.

[2017-08-10 07:20] flocke commented on #20
Should be fixed with your pull request.

[2017-08-10 07:20] #20 closed

[2017-08-11 21:58] grrrrr commented on #23
Agreed the use of the system password negates any benefits.  If the idea is to protect the tokens from an attacker, if they already know the system password they can open andOTP

The GuardianProject's various libraries would be perfect use for this.   SQLCipher and IOCipher would provide secure and password protected storage.   Using PanicKit would allow for destruction of the tokens / container i

[2017-08-12 05:43] flocke commented on #23
Just to clarify: the system password is in no way used to encrypt the data of andOTP.
It is only a check before starting the app to add a little protection from someone who just picks up your unlocked phone.

I am not gonna change the way the data is stored, which is in the Android KeyStore.
However I'm gonna add the option to unlock the app with a custom password instead of the device credentials

[2017-08-12 07:39] ikocevski opened #26 "Backup password input method is bad"
Having only one field to enter a password without a button to reveal it is not safe. You could also implement 2 password boxes where the user has to enter the same password twice which IMO is the best way.

We can all make mistakes typing and this is a must have feature!

[2017-08-12 07:59] ikocevski commented on #23
6 digit pin would be awesome. Anyway this has to be implemented so as to avoid someone that has your phone to access your OTPs. You can also export these unencrypted which makes it a necessity.

[2017-08-13 13:45] asmw opened #28 "The app should 're-lock' (require credentials again)"
I would like it to re-lock and request device credentials again:
 - [x] Immediately after the screen has been locked
 - [x] After a certain time of non-usage (e.g. 60 seconds)
 - [x] Maybe: when exited through the back button

[2017-08-14 10:35] flocke commented on #26
I implemented it the easy way. It now has a reveal button so you can check the password after typing.

[2017-08-14 10:35] #26 closed

[2017-08-16 11:32] #23 closed

[2017-08-16 11:33] flocke commented on #23
Done, in the next release you will be able to set an individual password or PIN to unlock the app.

[2017-08-16 12:55] flocke commented on #28
1. This seems reasonable, I will look into it.
2. Maybe. I still have to find a good way to detect user inactivity on Android ... anyone who knows how to do this feel free to submit a pull request.
3. This should already happen. If I exit my app with the back button and switch back to it it will ask for authentication again.

[2017-08-16 15:26] asmw commented on #28
Indeed, 3 seems to work. I probably pressed the menu button.

[2017-08-19 11:09] asmw opened #31 "The backup can not be gpg encrypted with only a pubkey"
Motivation:
I do not actively use gpg on my phone but would like to use it to encrypt backups.
I have OpenKeychain installed and my personal public key imported, but I keep no private gpg key on the phone.
This should be sufficient to encrypt the backup, I am aware that I could not re-import the backup like that.

Setup:
 - andOTP and OpenKeychain installed
 - Setup up accounts in andOTP
 - Empty

[2017-08-19 14:00] gasso0n commented on #16
I will try to contribute a logcat later, when I found out how to do that.
I can confirm that entries are lost after leaving the app. I use LineageOS 14.1.2 on Honor 5x (latest nightly).
Interesting sidenote: When I had hit the back-button after the reentry, the entries were visible again. After hitting it a second time they were gone again and never seen again.

[2017-08-20 05:30] hvhaugwitz opened #32 "Feature Request: allow more token lengths"
andOTP uses the default token length 6 for new tokens.

Please add an option to select another token length (6,7 or 8).

[2017-08-20 07:17] flocke commented on #32
Already done, will be in the next release.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-20 07:17] #32 closed

[2017-08-20 09:49] gasso0n commented on #16
Additional Info:
I added an entry and made a backup (plain text as well as OpenPGP). After the entry was lost again I restored the backup, which resulted in a blank app.
So the entries are not saved in the backup as well. Hope this helps.
Still no idea how to provide a logcat, sorry.

[2017-08-21 05:47] flocke commented on #31
This seems to be a limitation of the current API provided by OpenKeychain. See this bug report: https://github.com/open-keychain/open-keychain/issues/1558
I'm gonna head over there and ask if there is any way to get this done.

_Sent from my Google Nexus 5X using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-21 06:44] flocke commented on #16
Seems like the database is never written to your devices storage, which is really strange.
There could be multiple points why this is happening, so I can't really do anything without a logcat.
You can check this tutorial on how to get a logcat: https://android.gadgethacks.com/how-to/android-basics-capture-logcat-for-detailed-bug-reports-0167774/

[2017-08-21 07:22] gasso0n commented on #16
OK, I think I did it:
https://pastebin.com/FpgSWMVm

Is pastebin ok or should I post it here?

[2017-08-21 07:34] flocke commented on #16
Pastbin is OK, it quickly gets confusing if you post long logs here.
Seems like some issue with the Android KeyStore beeing unable to load the encryption key.

[2017-08-21 08:05] flocke commented on #16
Could you try this APK: https://www.androidfilehost.com/?fid=961840155545590105
I did some experimenting with the key generation, maybe this already fixes it ...

[2017-08-21 08:11] flocke commented on #16
@gasso0n @kosciak9 @Marmo
Please check the build from my last comment and report back if it works now.
In case it doesn't work please provide a logcat (see 4 posts before this one).

[2017-08-21 08:52] ccaapton commented on #16
After I updated my andOTP in Fdroid into 0.2.5, I lost all my keys. I can not remember the previous version number.

[2017-08-21 10:42] flocke commented on #16
@ccaapton Please post a logcat. And if you are rooted check if any files are in `/data/data/org.shadowice.flocke.andotp/files/`.

[2017-08-21 10:55] gasso0n commented on #16
@flocke the new file did not bring a success
https://pastebin.com/6b7bjtWU
But thank you very much for the effort!

[2017-08-21 13:38] flocke commented on #16
From what I found this might be a bug in some custom ROMs.
LineageOS seems to be affected: https://jira.lineageos.org/browse/BUGBASH-590
(and maybe all other ROMs that are based on it).
Are you guys all using a custom ROM, if yes, which?

[2017-08-22 17:39] alphazo opened #34 "OTP list empty on Android O"
#### General information

* App version: 0.2.5
* App source: F-Droid
* Android Version: Android O 8.0

#### Expected result

OTP list remains empty after restoring the app from a TitaniumBackup or restoring a previous backup using the built-in backup feature. When restoring a JSON backup, app states that import has been successfull. Tried to clear cache as well but that didn't help.

[2017-08-22 17:44] flocke commented on #34
@alphazo  Could you upload a logcat? This could be the same error as #16

[2017-08-22 17:50] flocke commented on #34
I'm gonna set up an Android O virtual phone tomorrow and check it out myself.

[2017-08-22 20:16] alphazo commented on #34
More progress (Nexus5X).
- TitaniumBackup Restore (App+Data) :  Empty list
- TitaniumBackup Restore (App+Data) + andOTP JSON restore :  Empty list
- All the above then data erase + andOTP JSON restore : list is back ;)
- andOTP uninstalled then re-installed + TitaniumBakup restore (data only): Empty list
- andOTP uninstalled then re-installed + andOTP JSON restore : list is back ;)

There is a cry

[2017-08-22 20:30] flocke commented on #34
Yes, this is to be expected. See the "Backups" section of the README on GitHub.
Titanium Backup only saves the encrypted data files, but to decrypt them a key is needed which is stored in the Android KeyStore. This key can not be backed up, so you can only use the internal backup function and not Titanium.

I think I read somewhere that Waze also uses the KeyStore, so it's probably the same proble

[2017-08-22 20:43] alphazo commented on #34
Good to hear there is an explanation. At least I had a recent in-application backup handy ;)

[2017-08-23 05:16] flocke commented on #34
After looking at your logcat I'm 99% sure that is exactly whats happening.
I will close this report, just open a new one if there is something else strange happening on Android O.

[2017-08-23 05:16] #34 closed

[2017-08-24 06:04] digitalcircuit opened #35 "Make destructive Panic trigger opt-in"
## In short

* Change PanicKit wipe data response to opt-in rather than always-on
  * Recommended by [Guardian Project's design patterns](https://guardianproject.info/2016/01/12/panickit-making-your-whole-phone-respond-to-a-panic-button/ )
  * Avoids unexpectedly losing tokens if using an 'anxious trigger' instead of panic
  * Allows choosing to keep OTP while using a panic trigger for other apps

[2017-08-24 07:42] #35 closed

[2017-08-24 07:50] flocke commented on #35
And done. Was easier than I expected 👍

[2017-08-25 14:19] flocke commented on #28
I just implemented 1, it will be included in the next release.

[2017-08-25 15:57] asmw commented on #28
Awesome! Thanks for your work.

[2017-09-01 22:12] guttersnipe098 commented on #31
+1

[2017-09-02 01:49] SkyWheel commented on #16
By any chance... could it be insufficient priviligies for the app? I mean does app have access to storage in your app settings?

[2017-09-02 02:04] SkyWheel opened #37 "Feature request: tabs for grouping"
Hi!
I have more than 20 OTPs, and it's really hard sometimes to search required one.
What if OTPs could be grouped by tab?
I.e. mail tab: and all OTPs for all mails, then work tab: and all OTPs for work.
Thank you.

[2017-09-02 08:52] flocke commented on #16
To store the tokens internally no permissions are needed. It only needs storage permissions for the backups.

[2017-09-02 09:13] KopfKrieg commented on #16
FYI: I too lost my 2FA token using andOTP v0.2.6 (from F-Droid) on an One Plus 2, running LineageOS 7.1.2, Play Store is also installed.

[2017-09-02 09:57] flocke commented on #16
I can't do much since this seems to be a ROM issue (see the LineageOS bug I linked above). We will have to wait for the ROM devs to fix this (or find a fix I can implement myself).

[2017-09-02 09:59] flocke commented on #37
I'm currently on vacation so I will have a look once I get back.
This seems like a big change, so I will have to decide if I want to implement it (I want to keep andOTP as simple/light as possible).

[2017-09-02 17:40] flocke commented on #31
Can't do anything about it until the API is fixed/updated.

[2017-09-03 07:04] Roliga opened #38 "Feature request: Steam mobile authenticator codes"
Hi,

The [Steam Mobile Authenticator](https://support.steampowered.com/kb_article.php?ref=4440-RTUI-9218) uses standard TOTP passwords, but differs in that it generates a 5 character string. Is this something that could be implemented in andOTP?

For reference WinAuth has this implemented [here](https://github.com/winauth/winauth/blob/master/Authenticator/SteamAuthenticator.cs), see [this](https:/

[2017-09-03 07:37] asmw commented on #31
Maybe label this as an 'upstream bug'?

[2017-09-03 07:53] flocke commented on #38
The newest version of andOTP should support variable digit lengths.
I'm currently on vacation, I will test Steam as soon as I get home.

[2017-09-03 07:54] flocke commented on #31
Good idea @asmw, done.

[2017-09-03 08:04] flocke commented on #38
The 5 digits are not the real problem. This is just one line of code to change.
But they also use letters in their code, so it's not a 'real' TOTP. I will have to look into how it is generated and decide then if I want to implement it.
Since I'm currently on vacation this will take some time.

[2017-09-03 08:31] paolostivanin opened #39 "[question] encryption details"
Hello,
I'm implementing a GTK+ OTP client for GNU/Linux and I would like to add support to import andOTP *encrypted* backup files.
Looking into the [source code](https://github.com/flocke/andOTP/blob/master/app/src/main/java/org/shadowice/flocke/andotp/Utilities/EncryptionHelper.java#L48), I saw that you are using AES128 GCM with a 12 bytes IV.
So the final encrypted file struct is `IV+ENC_TEXT+TA

[2017-09-03 13:06] flocke commented on #39
You are right about the encrypted file structure. There is a python script for decrypting the backups already: https://github.com/asmw/andOTP-decrypt maybe this can help you better understand the format.
The key for the encryption is completely user-provided, it is generated using a SHA256 hash of the user-provided password and the IV.

[2017-09-03 13:08] flocke commented on #39
The genKeyFromPassword function is used for the backups, the loadOrGenerateKeys function is only for the internal data store and has nothing to do with the backups.

[2017-09-03 13:59] Roliga commented on #38
Sounds good, thanks for your work on this app and have a great vacation!

[2017-09-04 15:11] red1ight opened #40 "can not select a OpenPGP key"
I can not select a OpenPGP key from OpenKeychain (all version app from F-droid)
Meizu Pro5, Android 5.1 stock
Also in OpenKeychain is no andOTP in the list of applications
But everything is good on BQ Aquaris M10 FHD with Android 5.1 stock

[2017-09-04 15:17] flocke commented on #40
Currently only a private key can be used in andOTP, so make sure you have a private key available in OpenKeychain.

[2017-09-04 15:19] red1ight commented on #40
yes, i have a private key available in OpenKeychain

[2017-09-04 15:20] flocke commented on #40
OK, could you try and get a logcat for me. Without it I can not do anything to debug this problem.
Also I'm currently on vacation so it will take some time until I get to work on andOTP again.

[2017-09-04 15:47] red1ight commented on #40
``

[2017-09-04 15:47] #40 closed

[2017-09-04 15:59] red1ight commented on #40
`E/OpenPgp API(29508): exception on binding!
E/OpenPgp API(29508): java.lang.Exception: bindService() returned false!
E/OpenPgp API(29508): 	at org.openintents.openpgp.util.OpenPgpServiceConnection.bindToService(OpenPgpServiceConnection.java:105)
E/OpenPgp API(29508): 	at org.openintents.openpgp.util.OpenPgpKeyPreference.onClick(OpenPgpKeyPreference.java:92)
E/OpenPgp API(29508): 	at android.prefe

[2017-09-04 16:02] red1ight commented on #40
Hmm. he earned! After I allowed the work in the background

[2017-09-04 16:09] flocke commented on #40
Yeah, the log looked like he couldn't find the OpenKeychain service. Allowing it to run in the background should help.

[2017-09-04 16:14] red1ight commented on #40
your apps is the best)

[2017-09-04 18:04] paolostivanin commented on #39
you're right, thanks :)

[2017-09-04 18:04] #39 closed

[2017-09-04 18:32] flocke commented on #40
Thank you ;)

[2017-09-10 07:28] paolostivanin opened #41 "prevent duplicates to be added"
I just tried to add 3 times the same account (label, issuer and key always the same) and I ended up having 3 identical entries.
IMO, this shouldn't be allowed. What should be allowed instead is having same label & issuer but different key.

[2017-09-12 15:04] flocke commented on #38
After looking at the code for the KeeTrayTOTP plugin this seems very doable.
I will try to get this in for the next release.

[2017-09-14 11:30] AnkS4 opened #42 "Restore not working"
I backed up the encypted JSON.

When backed up, it shows, 'Import from external storage sucessful', but with no output.

Log: https://pastebin.com/xLEjXdrM

[2017-09-14 13:10] flocke commented on #42
I'm gonna test it on Oreo soon and see if this always happens.
If not it could be related to #16.

[2017-09-15 09:01] flocke commented on #42
It seems not to be thing with Oreo, I just tested it in a virtual machine and everything worked there.
@AnkS4 Could you try to manually add an entry, exit the app and open it again to see if the entry is still there?

[2017-09-15 09:03] AnkS4 commented on #42
Yes, it's disappearing

[2017-09-15 09:04] flocke commented on #42
Seems like a duplicate of #16, could you upload me a logcat of manually adding the entry to make sure?

[2017-09-15 09:08] AnkS4 commented on #42
Did. https://pastebin.com/PCdjhWRh

[2017-09-15 09:13] flocke commented on #42
Thank you, could you get me a full logcat as well? You seem to only upload the output matching "andotp", I'm interested if those lines appear as well:
[code]

[2017-09-15 09:21] AnkS4 commented on #42
https://pastebin.com/AsSqmK2r

[2017-09-15 14:16] flocke commented on #42
It's not exactly the same error as #16, but it also seems to be a problem with the system keystore.
[code]

I'm gonna look into it, but I assume it is like #16 and has to be fixed in the ROM.

[2017-09-15 15:09] flocke commented on #38
I have an implementation to generate SteamGuard codes, but I'm not sure if I should release it for the following two reasons:

 1) You still have to get the secret somewhere and manually add it (I won't implement an automatic method where you just have to enter your steam account since this is far beyond the scope of this app).
 2) And after you activate it somehow you won't be able to trade in St

[2017-09-16 16:32] Roliga commented on #38
While I personally still would find this a very useful feature, the reasons you mentioned definitely means it's not for everyone. The use cases I see are:

* Using F-Droid as a primary app repository, where keeping the Steam app installed can be inconvenient.
* Having all 2FA codes in one place, making them easier to manage and securely back up.
* Having Steams authentication codes available on mu

[2017-09-17 09:40] ort163 commented on #18
In Nougat, the label does not scroll? I am having lineageOS and scanned Google-QR code for gmail account? I can provide screenshot

[2017-09-17 09:42] flocke commented on #18
I haven't added the scrolling functionality yet. I didn't think it was necessary to have both, the label size configurable and the scrolling text.
But if you want I can still add it.

[2017-09-19 06:54] flocke commented on #42
@AnkS4 Just one followup question, did you try clearing the apps data before restoring?

[2017-09-20 05:58] #41 closed

[2017-09-20 06:11] flocke commented on #38
This won't make it into the next release, I have to think about it a little bit more.
Maybe I will add it in the one after as a hidden option for people who know what they are doing.

[2017-09-20 20:20] AnkS4 commented on #42
ROM was buggy, it was rebooting when clearing app data. Back to Nougat & everything works fine.

[2017-09-21 05:21] flocke commented on #42
OK, good it cleared up.
If you flash a new ROM and wipe the cache but leave the apps data then this will happen since the key in the Android KeyStore is missing but the encrypted data is still present.

[2017-09-21 05:21] #42 closed

[2017-09-21 07:05] barul42 commented on #16
I've also had this problem, however I do have the files in `/data/data/org.shadowice.flocke.andotp/files/` ; but tapping on them doesn't add anything in andOTP. Is there something else to do?

[2017-09-21 07:44] flocke commented on #16
@barul42 Can you get me a logcat?

[2017-09-21 07:52] barul42 commented on #16
@flocke
[logcat.txt](https://github.com/flocke/andOTP/files/1320350/logcat.txt) Here it is, hope there's some info in it

[2017-09-21 10:49] flocke commented on #16
@barul42 Which ROM do you use, and did you try clearing the apps data?

[2017-09-21 11:36] barul42 commented on #16
Sorry, I only saw after submitting the logcat that it's a know bug w/ LineageOS (which I'm using).
Still did try to clear cache & data after, but no luck.

[2017-09-22 12:03] gunnersson opened #45 "andOTP (F-Droid) on LineageOS: all tokens lost after update of LineageOS"
Dear all,

### my system:
* Motorola Moto G3 https://en.wikipedia.org/wiki/Moto_G_(3rd_generation)
* LineageOS as a replacement for stock Android https://download.lineageos.org/osprey
* andOTP 0.2.6 https://f-droid.org/packages/org.shadowice.flocke.andotp/
* before: lineage-14.1-20170914-nightly-osprey-signed.zip 2017-09-14 18:38:33
* after: lineage-14.1-20170921-nightly-osprey-signed.zip 2017-09-

[2017-09-22 12:17] flocke commented on #45
I assume you dirty-flashed the update.
Did you wipe the cache? If yes this is the reason, it should delete the Keystore entries so you can't decrypt the accounts anymore.

Try clearing the app data and then re-import the backup.
You have to set the password in the settings before importing, you won't be asked.

[2017-09-22 12:56] gunnersson commented on #45
What does "dirty-flashed" mean? Sorry, but I just don't know that expression.

Well, I don't use the LineageOS built-in updater, but instead I manually copy the ZIP on the device and install it by using TWRP recovery then.

With TWRP, after installing a ZIP I always wipe cache and dalvik.

Yes, I did. It was successfull. @flocke Thank you!

Maybe this should be made more clear and labelled more pr

[2017-09-22 12:57] gunnersson commented on #45
Oh, because of my interest:

So this behaviour as described here is actually intended?

[2017-09-22 13:01] flocke commented on #45
Glad you could solve it.

It's not really intended by me, but wiping the cache sadly always deletes the KeyStore entries, I can't do anything about it since this is a Android function.

"dirty-flashing" means that you install the new ZIP over the old one without factory-resetting the partitions.

[2017-09-22 13:01] #45 closed

[2017-09-23 23:53] fredddii opened #46 "Automatic backup (import / export) synchronisation to file"
I know there is already an automatic backup ticket but this request is a bit broader.

I use Syncthing to synchronise files in a decentralised manner across devices. It would be great if andOTP would automatically read from and write to the unencrypted / encrypted backup file, so that it can be then picked up by Syncthing (pure file based synchronisation) and sent to other devices, to for example

[2017-09-25 06:33] flocke commented on #46
This is something I have to think about, I would have to change a lot for that to work ...

[2017-09-28 21:09] mcR00T opened #47 "Black Theme"
a black theme would make the app perfect for me (and my OnePlus 3 with an OLED screen)
thanks

[2017-09-29 15:39] flocke commented on #37
I don't really like the idea of tabs tbh. What do you think about adding (multiple) tags to an entry and the ability to filter the list by tag?

[2017-10-02 08:05] Ennneerrrgggyyy opened #48 "Can't import Backup"
Hi,

first of all: great app! Thank you very much.

But I'm having trouble importing a backup. I keep getting the following message:
"Import vom externen Speicher fehlgeschlagen"

[2017-10-02 08:13] flocke commented on #48
I'm gonna need some more information:

1. Which Android version are you using (and if you use a custom ROM, which one)?
2. What kind of backup are you using (plain, password or OpenPGP)?
3. **Most importantly**: I need a logcat or else I can't debug at all.

[2017-10-02 10:42] flocke opened #49 "Encrypted password storage"
* [x] Authentication passwords
* [ ] Backup password

This is just a reminder for myself to implement some kind of encrypted/hashed storage for the authentication passwords (password and PIN) and the backup password.

Until now both are stored in plain-text which is not really secure at all.

For the authentication it should be sufficient to simply store the credentials hashed.

For the backup pas

[2017-10-02 20:00] SpotComms opened #50 "Authentication bypass via panic app"
On the latest 0.2.7 version from F-Droid having both an authentication method enabled combined with the "Reset app settings" panic trigger, results in bypassing the password/pin prompt after triggering a panic.

Steps to reproduce
- Install app
- Set 'Authentication' to "Device credentials" (or any other)
- Set 'Panic Trigger' to "Reset app settings"
- Add some tokens
- Exit app
- Open app to conf

[2017-10-02 21:15] flocke commented on #50
I don't think that wiping the the settings is really useful at all. For now all that can be read from the settings is the password for the authentication and the backups. But I plan to store that hashed and with this unrecoverable in the future. After that wiping the settings won't be useful anymore and I will remove it altogether. After that the only option will be to wipe all accounts, which is

[2017-10-03 01:29] SkyWheel commented on #37
I reckon it is not bad idea. I didn't think about that in this way. Anyway, to be able to sort somehow all those OTPs, is much better than nothing.
But may I ask you to implement tags' sorting remembering? So, we could have quick access to most frequently used OTPs after each andOTP openning.
And thank you for your work!

[2017-10-04 08:41] Ennneerrrgggyyy commented on #48
Sorry, I can't replicate the error. I'll close the ticket!

Once again: Awesome app! :)

[2017-10-04 08:41] #48 closed

[2017-10-04 09:52] doronbehar opened #51 "How do I set the app with Google's 2 factor authentication?"
#### General information

* **App version:** 0.2.7
* **App source:** F-Droid
* **Android Version:** 7.1.2 LineageOS (no GAPPS)

[2017-10-05 07:16] flocke commented on #51
I never tried it myself (I use Gapps and the Google Prompt) so I can't answer this, maybe someone else can answer you.

[2017-10-05 08:03] #50 closed

[2017-10-05 08:05] flocke commented on #50
I amended clear() to keep the authentication-related settings.
Maybe later on I will add a third option to the panic reactions to lock the app even if it is unlocked.

[2017-10-05 14:48] flocke commented on #51
I just tried it ... you just have to scan the QR code when you enable 2FA in your Google account settings: https://myaccount.google.com/signinoptions/two-step-verification

[2017-10-05 15:19] flocke commented on #47
Still thinking about how to do this the best ...
Just changing the background color to black is fairly easy, but if you have a few accounts added then you have more cards (gray) than background (black) which would be unfavorable for an OLED screen.

[2017-10-05 16:09] doronbehar commented on #51
Great, it worked. Perhaps we should add it to the README..

[2017-10-05 16:51] mcR00T commented on #47
i think that the cards should also be black (so yeah no card layout visible)

[2017-10-05 17:07] flocke commented on #47
I'm gonna test it and see how it looks ;)

[2017-10-05 17:09] flocke commented on #51
Glad it worked.
I'm not gonna add it to the README, if I do then people are gonna start asking how to set up site xyz with the app and I really want to avoid that ;)

[2017-10-05 17:09] #51 closed

[2017-10-06 12:07] #49 closed

[2017-10-06 12:11] flocke commented on #49
Just for reference, I added two different methods to storing the passwords:

1. The backup password is stored encrypted using a new key from the Android KeyStore.
2. The authentication password or PIN are stored as SHA256 hash. I decided against storing them encrypted as well so that in cases something happens with the KeyStore (as it sometimes does after wiping the cache in recovery) the App can

[2017-10-09 11:31] TeddyDD opened #52 "Turn on Documents error when creating backup"
#### General information

* **App version:** 0.2.7
* **App source:** Google Play
* **Android Version:** 5.0.2

#### Expected result
I expect that after I click Backup (both plain text and OpenPGP) app will create file somewhere and tell me where is that file.

Instead "Turn on Documents in Settings > Installed apps first" popup appears.
I don't have such option in settings, all permissions are tur

[2017-10-09 11:39] flocke commented on #52
Seems like you don't have any App installed that can handle the `ACTION_CREATE_DOCUMENT` intent, which would ask you where to save the backup. Normally this should be handled by the stock Android Document UI.
Are you using a custom ROM? If yes which one?

[2017-10-09 12:33] TeddyDD commented on #52
I'm using MIUI 9 (xiaomi.eu). I did quick search and it seems that it's common issue with MIUI. Unfortunetly I can't apply [this](http://en.miui.com/thread-251046-1-1.html) fix since I don't have Documents app at all. Is there any app in Google Play or FDroid I could install to be replacement to Android Document UI?

[2017-10-09 12:53] flocke commented on #52
Sadly I don't know of any app that could replace documents.
If it's a known issue maybe someone in the MIUI forums can help you.

[2017-10-09 14:08] TeddyDD commented on #52
Sure, I'll look into it. Anyway It would be nice if app could just save backup somewhere (fallback method).

[2017-10-09 14:11] flocke commented on #52
Sure, that would be the best solution.
I will try to get something like that in for the next release.

[2017-10-10 07:55] devz3r0 commented on #16
I have the same issue, I imported my tokens from freeotp but they won't stay as well. I have the lastes lineage as well and deleting the app data won't work as I installed the app freshly.

[2017-10-11 15:27] flocke commented on #47
I added a simple black theme, the window background and the card background are black (so there are effectively no cards).
All the popups and menus are still gray (since they are only shown on user-interaction this should not impact battery on OLED screens).

[2017-10-13 03:00] thfrwn commented on #16
Same here, on LineageOS. Lost 2 newly set up keys.

[2017-10-13 05:46] rodrigoaguilera commented on #16
Apart from experiencing what others are commenting on lineageOS 14.1 (latest nightly you can get today) I get empty backups (the json is just "[]") even when I can still view the TOPT entry on the screen before losing it.

[2017-10-13 09:33] carmebar commented on #45
Documentation should be updated to note this behavior.

I had to reinstall the app. It said that the import was successful but no entries were added to the list.

[2017-10-13 19:19] flocke commented on #47
Ok, my current implementation seems to break Lollipop and below ... reopening to keep track

[2017-10-14 11:03] #47 closed

[2017-10-14 12:37] #52 closed

[2017-10-14 12:40] flocke commented on #52
Since it is not that easy to automatically detect if you have the Documents app installed or not I just added a option to the settings to disable the file selector.
You can additionally specify a directory where the backups will be saved (the filenames are static and depend on the backup type).
This will be included in the next release.

[2017-10-17 07:11] #38 closed

[2017-10-17 07:14] flocke commented on #38
I added this as an hidden option.
To enable it go to About and tap the version tile 7 times (stolen from dev options in Android).
There will be a warning that this is not further supported and you have to get the shared secret on your own.

**Disclaimer**: Steam trading won't work with this enabled since you won't be able to confirm trades.
This will never be implemented, so please nobody ask for

[2017-10-18 08:45] flocke commented on #38
I will publish the next release in a week, giving the translators time to catch up.
I wrote a little page about the hidden feature in the wiki: https://github.com/flocke/andOTP/wiki/Hidden-features
There you can also see how you can get your shared secret.

[2017-10-18 15:12] SaintDI opened #53 "In-app language switch (enhancement)"
If this is not too difficult and time consuming, please add the ability to switch languages in the application. Sometimes it is more convenient for people to use the application in the original language, and OS in their native language. In addition, it will be useful for translators (an example for me, yes) — it is more convenient to check the translation.

[2017-10-18 20:33] 5t0rmr1d3r opened #54 "Importing Google authenticator data?"
Is there a way to import the Google authenticator data?

[2017-10-19 16:45] Roliga commented on #38
Thanks for implementing this, much appreciated!

[2017-10-19 20:25] puddly commented on #54
@5t0rmr1d3r Google Authenticator doesn't allow you to export the tokens. If your phone is rooted, you can read them out of the Google Authenticator database. I just had the same issue and wrote [this Python script](https://gist.github.com/puddly/7a1225e927a80ecb6325a43210ae77be) to export Authy and Google Authenticator tokens if your phone is rooted.

@flocke I don't know enough about Android deve

[2017-10-19 20:47] flocke commented on #54
@puddly I don't want to start adding root functions to andOTP. It should stay as simple and light as possible.
What would be possible is to adapt your script so it generates a JSON file from the accounts which then can be imported into andOTP as plaintext backup.

[2017-10-19 22:06] 5t0rmr1d3r commented on #54
@puddly thank you! I'll try that!

[2017-10-19 22:08] 5t0rmr1d3r commented on #54
@flocke that would be even more comfortable!

[2017-10-20 04:38] flocke commented on #53
I will have to research what is the best way to implement this.
But I agree, this could be useful for translating.

[2017-10-20 23:34] nazar-pc opened #55 "Case sensitive secrets"
#### General information
* **App version:** 0.2.7
* **App source:** F-Droid
* **Android Version:** 7.1.2 (LineageOS 14.1)

I was migrating from Google Autenticator, so I've copied its sqlite database from /data/data/** and created `otp_accounts.json` file in the format andOTP expects. However, only those secrets that were in uppercase generated the same codes as Google Authenticator, those that we

[2017-10-21 07:33] flocke commented on #55
To be honest I never encountered lower-case secrets. Usually they should be encoded as [Base32](https://en.wikipedia.org/wiki/Base32)-String which should always be upper case.
I will add a conversion to upper-case when importing accounts.

[2017-10-21 07:35] flocke commented on #54
If you update your script take a look at #55, the secrets should always be upper-case.

[2017-10-21 14:32] 5t0rmr1d3r commented on #54
Thanks for the hint!
As soon as i had known that it's sqlite db the easiest way was to use an sqlite browser to export the data and then to uppercsse the secrets with notepad++.
After that i converted it manually to the json import format.

[2017-10-21 14:33] 5t0rmr1d3r commented on #54
After closing this issue maybe an wiki page for other users would be helpful?

[2017-10-21 18:38] puddly commented on #54
@flocke I understand. I've updated my code to generate AndOTP backup files and moved it to a dedicated repo ([android-otp-extractor](https://github.com/puddly/android-otp-extractor)) if you want to add it to a wiki page.

Personally, I prefer the QR codes because they're faster to scan and more secure than moving the backup JSON file to my phone, work with other OTP apps, and don't overwrite your

[2017-10-22 07:34] flocke commented on #54
@puddly Thank you, I will add it as soon as I get back home.

Yeah, I understand why you prefer QR codes, but if you got a lot of accounts the JSON file might be the better option. If have it on my TODO list to add an option to the backup to not overwrite all accounts but to append them.

[2017-10-23 05:49] flocke commented on #54
@puddly I added your script to the wiki: https://github.com/flocke/andOTP/wiki/Migration

[2017-10-23 05:49] #54 closed

[2017-10-25 13:39] flocke opened #57 "Append backups to existing entries"
Add a switch to disable replacing all current entries when importing a backup and append them instead.

[2017-10-26 10:12] MartinX3 commented on #16
Same Problem here.
Motorola Nexus 6 with LineageOS 14.1-20171013-NIGHTLY-shamu
Installed from Google Play

Maybe this issue interests you
[](https://github.com/0xbb/otp-authenticator/issues/8)

[2017-10-26 10:15] MartinX3 commented on #45
Same Problem here.
Motorola Nexus 6 with LineageOS 14.1-20171013-NIGHTLY-shamu
Installed from Google Play

Is it possible to not use the KeyStore and only protect the keys with my password/pin/gesture?
That option would be nice.
I hate it to loose 8 tokens.

[2017-10-27 12:27] flocke commented on #45
@MartinX3 I already thought about the idea to add an option to disable using the KeyStore and instead use the password/PIN for encryption. This however requires a major rewrite of the storage related stuff and will take some time.

[2017-10-29 13:52] MartinX3 commented on #45
Thank you very much, that you do it in the future.
Or another one with time to help you. :)

[2017-11-01 22:16] theo546 commented on #38
Hi, i give a feedback if needed, it work perfectly fine!!
for anybody that are on linux and want to convert the base64 code to base32, use this easy command (dont remove the quote!!):
echo "< code goes here >" | base64 -d | base32

[2017-11-02 10:41] flocke commented on #38
@theo546 Thanks for the feedback and the command, I added it to the wiki page.

[2017-11-02 16:55] dsferruzza opened #58 "[French translation] Visual bugs"
Hi!

I fixed a lot of mistakes in the French translation, and discovered a few display bugs:

\# | File | String | Bug
---|---|---|---
1 | strings_about.xml | [Help to translate andOTP to your language](https://crowdin.com/translate/andotp/18/en-fr#338) | Truncated after "votre"
2 | strings_about.xml | [Report bugs or request new features](https://crowdin.com/translate/andotp/18/en-fr#245) | Trunc

[2017-11-04 16:26] jerryn70 opened #59 "Auto login after entering correct PIN/PASSWORD"

[2017-11-06 08:43] flocke commented on #59
How do you mean that?
Just removing the need to press enter after entering the PIN/password and automatically unlock?

[2017-11-06 09:45] jerryn70 commented on #59
Yes

[2017-11-06 09:49] flocke commented on #45
The problem with using the password for encryption is that I also need to store the password securely.
And the best way to do that is to use the KeyStore as well to encrypt the password so we would still be using the KeyStore ...

[2017-11-06 20:15] MartinX3 commented on #45
Couldn't you store the PW and another place?
Salted and Hashed?
Or give the ability to use the own GPG Key to secure the app?

Is the password for the device encryption at another place?
Because this doesn't change with an ROM reinstall.

[2017-11-07 06:42] flocke commented on #45
I have to think about a good way to solve that problem.
Maybe I can come up with a solution without using the KeyStore.

[2017-11-07 07:41] MartinX3 commented on #45
Maybe the way the Apps "Threema and Signal" doing this may help you.

https://github.com/WhisperSystems/Signal-Android
https://threema.ch/en

[2017-11-07 14:00] flocke commented on #59
I'm currently reworking how the login passwords are stored (improving security a bit further than just using a simple SHA256 hash). After that is done I will look into your request.

[2017-11-09 07:37] Tomatensauce opened #60 "Backup Crash"
Check if all requirements are fulfilled otherwise the issue will be closed without any comment

  * Add details to fields  below
  * Use search. Check if the issue is already reported before creating a new one.
    https://github.com/flocke/andOTP/issues
  * Try again after clearing the apps data before posting
  * Record a logcat: https://goo.gl/mc71vk
  * Bug reports without logcat will be close

[2017-11-09 08:53] 5t0rmr1d3r commented on #60
Here both backup functions are working fine.
App 0.2.8
F-droid
Android 7.1.2

[2017-11-09 09:30] flocke commented on #60
@Tomatensauce Can you get me a full logcat? This one seems to be filtered only to show entries from my app. Especially the file selector UI for the backup may also throw errors that don't contain my apps ID.
Do you try to backup directly to an online storage (Dropbox, GDrive or something) or do you backup to internal storage?
Are you running a custom ROM?

[2017-11-11 12:31] flocke opened #61 "Checklist for v0.2.9"
# TODO before release v0.2.9:

- [x] Add option to scroll the label if truncated
- [x] Adaptive icon (WIP, see #65)

[2017-11-11 13:38] RichyHBM opened #62 "[Feature Request] Support saving backups in UriKey format"
It would be great if andOTP had the ability to save backups in the UriKey format, this would make it compatible with tools like WinAuth.

[2017-11-11 13:42] RichyHBM commented on #37
I'm currently working on this, hopefully should have a pull request done this weekend

[2017-11-12 10:11] flocke commented on #62
I saw you already send a pull request for that feature. But to be honest I am still on the fence about implementing this. I want to keep andOTP as light as possible and don't want to start adding import and export functions to make it compatible with every other 2FA app out there.
Let me think about it a bit more when I get home on monday.

[2017-11-12 10:14] flocke commented on #37
@RichyHBM Do you plan to implement tabs or tags? And thank you for your contributions!

[2017-11-12 12:31] RichyHBM commented on #62
Sure, thats fine! That said, I feel like UriKey is more of a standard format for authenticators, though I completely agree that we shouldn't just add features to support exporting to a particular authenticator!

[2017-11-12 12:34] RichyHBM commented on #37
Sorry, I should have been clearer @flocke, I am doing TAGS. The way I currently have it you can add tags (either new ones or already existing ones) when adding a new entry manually, you can also modify the tags of existing entries. The app then has a drawer that lets you filter based on existing tags, the way I have defined an existing tag is just for it to be assigned to an entry.

I do have a qu

[2017-11-12 16:49] flocke commented on #62
Yes, but im my opinion the best solution would be the same we use for importing from other authenticators: have a script that converts the exported JSON file to UriKey format afterwards.

[2017-11-13 09:28] flocke commented on #62
After thinking some more about this I won't be implementing this feature.

While I can see why you would want this feature the export function is only intended to be a backup for andOTP itself and not an export to be imported by other apps. Additionally it should be fairly easy to just write a script that takes the JSON backup files and converts them to the UriKey format, which is basically the sa

[2017-11-13 09:28] #62 closed

[2017-11-13 12:38] flocke opened #65 "[Poll] Adaptive icons"
Hey guys, I am currently re-working the andOTP icon to support [Adaptive Icons](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html) introduced in Android 8.0. Everything is looking fine so far, the only question is which icon you guys want to see as default for Android versions **below** 8.0:

1. The old **round** one
![ic_launcher_round](https://user-images.gith

[2017-11-13 14:48] flocke commented on #59
The way I currently plan to implement the password storage (and eventually password-based encryption of the data files as an alternative to the KeyStore, see [this wiki entry](https://github.com/flocke/andOTP/wiki/%5BProposal%5D-Improved-encryption)) this would indeed require me to store the password length separately and unencrypted.
I don't think we should give potential attackers that additiona

[2017-11-13 14:48] #59 closed

[2017-11-13 15:15] #55 closed

[2017-11-13 15:16] flocke commented on #55
Import from JSON was literally the only case where I forgot the conversion to upper-case.
When manually adding an entry or scanning a QR code the secret is always converted to upper-case.
@nazar-pc Thanks for finding this bug ;)

[2017-11-13 15:18] nazar-pc commented on #55
Thanks for fixing this issue and for the app!

[2017-11-13 17:48] Tomatensauce commented on #60
Hi flocke,

sorry for the late reply.
Now here a new Catlog

11-13 18:38:54.245 E/MP-Decision(12376): Error 13 setting online status to 0 forcpu1
11-13 18:38:54.245 E/MP-Decision(12376): Error(-19) changing core 1 status to offline
11-13 18:38:54.346 I/ps      (10469): type=1400 audit(0.0:55815): avc: denied { getattr } for path="/proc/233" dev="proc" ino=7276767 scontext=u:r:init:s0 tcontext=u:r:

[2017-11-13 18:24] flocke commented on #60
[code]

Seems like your ROM is missing some app to handle the file creation dialog (should be part of every Android ROM, but some vendors seem to have disabled or altogether removed it, see #52).

Try going to the Settings in andOTP and remove the checkbox for "Ask for filename". After that try a backup again.
With this the "Save as" dialog is skipped and the backup is saved in a fixed location (t

[2017-11-13 20:54] Tomatensauce commented on #60
Awesome, it works for me. That's pretty cool. Thanks a lot, flocke :-)

[2017-11-13 20:54] #60 closed

[2017-11-14 02:06] skorokithakis opened #66 "FreeOTP migration script"
Hello,
congratulations on such a nice OTP app. It has everything I want in an app, so I migrated my codes from FreeOTP to andOTP. I wrote a short script to do this.

To run the script, get the `tokens.xml` file from the FreeOTP directory on the phone, run the script with the filename as a parameter (`./freeotp_migrate.py tokens.xml`), and the script will output an andOTP-compatible plaintext JSON

[2017-11-14 02:31] skorokithakis opened #67 ""Most recent first" option"
It would be nice if the app had an option where the most recently used entry would be shown first the next time the app was launched. That way, the entries I use more often would be shown at the top, and the ones I rarely use would slowly drop to the bottom.

[2017-11-14 09:59] flocke commented on #67
For that I would have to save the time an Entry is used. Without the tap-to-reveal option enabled this is not really doable (no way to tell which entry you are using if you just read the token and type it manually on another device).
I will think about it, but for now you could always use drag-and-drop to put your often used entries to the top.

[2017-11-14 10:01] flocke commented on #66
@skorokithakis Yes, it would be nice if you could upload the script somewhere so I can link to it easily.
If you do I will put it on the [Migration](https://github.com/flocke/andOTP/wiki/Migration) page in the wiki.

[2017-11-14 10:18] ort163 commented on #66
Just adding the command for those that need to know the location of tokens.xml. I was searching for a while:

`adb pull /data/data/org.fedorahosted.freeotp/shared_prefs/tokens.xml tokens.xml`
Thanks for creating this great script!

[2017-11-14 10:36] skorokithakis commented on #67
You'd have to, yes. It could be a new sorting mode that is only available when tap to reveal is enabled. That seems a reasonable use to me.

[2017-11-14 11:39] skorokithakis commented on #66
I have posted the script (and a writeup with instructions) here:

https://www.stavros.io/tips/migrate-freeotp-to-andotp/

Thanks!

[2017-11-14 12:31] flocke commented on #66
Thank you! I added it to the wiki 👍

[2017-11-14 12:31] #66 closed

[2017-11-14 14:45] #57 closed

[2017-11-14 14:47] flocke commented on #57
Implemented in 6fb96e18a91cb940e4729b46f943746d45dc9fb5, forgot to add the comment to close this issue.

[2017-11-15 10:48] #53 closed

[2017-11-15 12:31] #61 closed

[2017-11-15 12:39] flocke commented on #58
@dsferruzza  I tried to fix the problems and it worked well on my phone. Hopefully this also works on other screen sizes.
I will close this issue for now, feel free to re-open it at any time if something like this comes up again.

[2017-11-15 12:39] #58 closed

[2017-11-17 06:29] #37 closed

[2017-11-17 12:54] flocke commented on #37
Just some small teasers ...
Big thanks to @RichyHBM for doing most of the work to get this running.

![screenshot_20171117-134810](https://user-images.githubusercontent.com/76665/32948159-9cf85dc8-cb9e-11e7-8b62-77af7a276a3c.png)
![screenshot_20171117-134816](https://user-images.githubusercontent.com/76665/32948168-a2db8d14-cb9e-11e7-83e3-65316d0928ad.png)

[2017-11-18 15:02] flocke opened #68 "Android Wear support"
In the very distant future I would like to add an Android Wear app to display OTP tokens on a smartwatch.
It should only be able to display tokens, editing and adding should still only be able on the phone.

[2017-11-20 07:05] flocke commented on #65
This has been open for a week now, I think that should be enough.
I will go with the round logo for Android versions below 8.0 (and for versions above 8.0 with launchers that do not support adaptive icons).

[2017-11-20 07:05] #65 closed

[2017-11-21 10:28] schoeke opened #69 "Failure to import exported OTP entries, success message wrongly shown."
#### General information

* **App version:** 0.2.8
* **App source:** F-Droid
* **Android Version:** 7.1.2

#### Expected result
**What is expected?**
When importing an encrypted backup (generated using "Backup (encrypted)"), it should be possible to import it and the OTP entries should reappear.

**What does happen instead?**
After the message "Import from external storage successful.", the entrie

[2017-11-21 11:57] flocke commented on #69
@schoeke Did you do a clean install of LineageOS? Which version of LineageOS are you using?
If you didn't do a clean install try clearing andOTPs data before importing.

[2017-11-21 12:25] flocke commented on #69
@schoeke Probably a stupid question, but: did you set the same password you used to encrypt the backup in the settings before trying to import it?

[2017-11-21 12:27] flocke opened #70 "Improve (error) messages"
There are a lot of places, mostly in the BackupActivity, where a wrong message is shown.
Especially when the import of a backup failed a lot of time a success message is displayed anyways.

[2017-11-21 13:51] schoeke commented on #69
- Yes, it was a clean install.
- LineageOS: lineage-14.1-20171109-nightly
- I tried two things: Clean install and a Titanium backup. Both failed to import or to restore the entries.
- To my knowledge, I set the correct password, yes.

However! I did a complete reinstall of the app again in the mean time and manually purged the andOTP folder. This time, it seems like the import worked.

Closing the

[2017-11-21 13:51] #69 closed

[2017-11-21 14:01] flocke commented on #69
Strange.

With Titanium backup I can understand why it happens:
You get the encrypted files in the andOTP folder from the backup but not the encryption key in the KeyStore. As a result andOTP generates a new key in the KeyStore, which obviously doesn't match your encrypted files from the backup.

But if you clean the apps data (or have a clean install) it should delete all files and start fresh, s

[2017-11-21 14:08] schoeke commented on #69
I assume that I made a mistake somehow. It might be that when I first put backed up data on the phone again that I forgot to not restore andOTP. When I realized it, I uninstalled it but not the data. Probably something like that.

[2017-11-21 16:02] flocke commented on #11
With the tagging support done this is on my TODO list for the next release.
 - [ ] Implement a BroadcastReceiver inside the BackupActivity to trigger automatic backups
 - [ ] (maybe) Implement a internal way to schedule the backups, it would maybe be easier to use external tools like [Easer](https://renyuneyun.github.io/Easer/en/) or Tasker for that

[2017-11-21 17:47] shrzer commented on #16
I have the same problem on the F-Droid version 0.2.8. I use LineageOS 14.1-20171022-UNOFFICIAL-kminilte. Inside my `data/data/org.shadowice.flocke.andotp/files` directory files are not present. Importing a plaintext json backup does show Success, but nothing gets shown. Logcat provided at [https://pastebin.com/huhGitev](https://pastebin.com/huhGitev)
(I'm sorry for the mess but this is the complet

[2017-11-22 05:58] flocke commented on #16
@shrzer This can happen if you made the backup right after adding all 4 keys without closing the app in between. The keys get added temporarily but not saved to `/data/data/org.shadowice.flocke.andotp/files` because of the KeyStore bug in LOS. With that the backup will be empty since it tries to backup the data files.
This is something that should be made clearer to the user, which is why I create

[2017-11-24 09:44] barul42 commented on #16
So if I understand correctly to not have the bug we'd have to add the keys, close the app, open the app and then do the backup?

[2017-11-24 09:47] flocke commented on #16
@barul42  No, that won't work. It's just a way to check if you got the bug. If you add keys, close the app and open it again the list should be empty again. There is (currently) no way to get around this bug if you are affected. And since it has something to do with the KeyStore in some custom ROMs I can't do anything to fix it on my part.

[2017-11-24 09:56] MartinX3 commented on #16
Did someone create a bug report in the lineageos jira?

[2017-11-24 09:58] barul42 commented on #16
@MartinX3 Yeah, bugbash 590 is about keystore (https://jira.lineageos.org/browse/BUGBASH-590?jql=text%20~%20%22keystore%22)

[2017-11-24 12:03] flocke commented on #16
I'm gonna buy a new phone soon as my Nexus 5X is showing first signs of dying (maybe it's the bootloop problem, I will send it to get fixed when I got my new one).
When I get my old one back from repair I will install LineageOS and try to reproduce and debug this myself.

[2017-11-24 19:17] MartinX3 commented on #16
@barul42 Thank you, but that doesn't look like the right bug.
"random freezing and now failure to start for some apps" are not the symptoms.

@flocke
Nice, try a Nexus 6
My one runs with cyanogenmod/lineageos since 2 years very fine.
No failure, no repairing.

[2017-11-25 08:21] RichyHBM commented on #14
So, I think this is worth talking about. 

I have currently got a very crude setup allowing me to both show an image with the entry and change that image (currently only after creating the entry).

This seems to work well but because I have wanted to store the image in the json, it leaves the json rather bloated (think tens of kilobytes per entry with an image) which isn't ideal.

I have an idea o

[2017-11-25 08:44] 5t0rmr1d3r commented on #14
I like that idea worth the pictures!
Why not use as a default/fallback the siteicon?

[2017-11-25 09:37] flocke commented on #16
@MartinX3 How the bug manifests depends strongly on how the different apps use the KeyStore. Fact is that LineageOS has a problem with the KeyStore on some devices. The linked bug matches some of the logcats that people posted here for andOTP. We still have to figure out more about this, which is why I'm gonna try to reproduce it myself.

[2017-11-25 09:46] flocke commented on #14
@RichyHBM Thank you for looking at this now. I had a few ideas on this myself. Currently I am not home but I will write my ideas when I get back (probably on Monday).
The only thing is that I would not want to change the current JSON format if not absolutely necessary.

[2017-11-25 09:57] RichyHBM commented on #14
@flocke I agree also, I'm currently leaning towards having the app supply a pre-selection of images for the user to chose from. But keen to hear your thoughts.

And @5t0rmr1d3r, the reason the site icon as a fallback wouldn't work is because andOTP has no direct way of knowing what site the OTP is for, that would require the user to input the site manually, which is doable but a bit more cumbersom

[2017-11-25 10:07] RichyHBM commented on #14
This project also has a lot of images for 2 factor sites https://github.com/2factorauth/twofactorauth

[2017-11-25 10:50] flocke commented on #14
1. I agree that we should (at least in the beginning) only provide predefined images to select from. New ones can be added on request.
2. The default should be just an image with the first letter of the label (like the contacts app for example). There are libraries for that.
3. Since on small screens the images could take a lot of space users should be able to disable them altogether in the settin

[2017-11-25 11:00] RichyHBM commented on #14
Agree with all points, I will work on a PR based on those points. If you have any recommended libraries that can generate the letter image, that would be great!

As a side note, I will keep my branch for user selected images as it may come useful at some point in the future, I already have thumbnails toggle via settings so you can show/hide them. Also, the reason the size was so big was due to the

[2017-11-25 11:13] flocke commented on #14
I can't remember the specific library, I just remember coming across one at some point. I will have to look again on Monday.

Maybe we should open an issue here and ask the users which icons they would like to see.

It would also be nice to have as much of the images in vector format as possible. This could save us a lot of space.

[2017-11-25 11:58] RichyHBM commented on #14
Makes total sense, there seems to be something in AOSP for generating the graphics in the default android mail app so will see if that can be used.

Feel free to sign this issue to me btw

[2017-11-25 12:51] flocke commented on #14
I can't seem to figure out how to do that with OctoDroid on my phone.
I will assign it to you as soon as I get back home on Monday.

[2017-11-25 13:43] MartinX3 commented on #16
Good luck!

[2017-11-26 11:19] bungabunga opened #71 "Please enable menu font sizes according to system accessibility settings (or manual settings)"
#### General information

* **App version:*0.3.0.*
* **App source:*Google Play*
* **Android Version:*7.1.1.*
* **Custom ROM:*rooted stock*

#### Expected result
**What is expected?**
Fonts in menu should be the size according to system accessibility settings, or at least manual (app) settings. At the moment you can only set the label font sizes (that was solved in Issue  #18) not the font sizes in

[2017-11-26 13:14] stonerl opened #72 "Version 0.3 seems to be Version 0.2.8"
Something seems to be wrong with the version numbering. The apk says 0.3 but on the app it says 0.2.8 also when you go to system settings.

The day 0.3 got released the f-droid repo git updated but it still shows the old version.

[2017-11-26 17:18] flocke commented on #72
Which APK are you talking about, the one here on Github or the one on F-Droid?

[2017-11-26 17:19] stonerl commented on #72
The one here on github

[2017-11-26 17:21] flocke commented on #72
Strange, I will check when I get home tomorrow. Could be I uploaded the wrong version.

[2017-11-26 17:22] flocke commented on #71
Which menu are you talking about, the "main menu" in the top right corner of the main activity or the one for each entry?

[2017-11-26 17:31] bungabunga commented on #71
I'm talking about all parts except from those that can already be manually set. So: the menu on the left, the menu on the top right, including the (most important) backup, settings and about submenus.

[2017-11-26 17:35] flocke commented on #71
OK, I will have to look into how I can get it to honor the Accessibility settings. I almost never specify a font size myself but use the defaults from Android, I thought this would automatically honor those settings.

[2017-11-26 17:42] bungabunga commented on #71
Yeah, me neither, most apps automagically set the font to what you've set in accessibility setings (small, default, large or largest). There's the same preference also in Display menu on my device (Sony Xperia XZ).

[2017-11-27 07:10] flocke commented on #72
Are you sure you downloaded the correct version?
I just downloaded the v0.3.0 APK from Github and it is indeed version 0.3.0.

[2017-11-27 07:10] #72 closed

[2017-11-27 07:40] RichyHBM commented on #14
I managed to get it looking like this over the weekend, icons shown are there for placeholder, we still need to decide which icons ship with the app (though these are all vectors and take up less than 1mb in total)

![screenshot_20171127-1](https://user-images.githubusercontent.com/5472275/33255551-1e52f6ae-d346-11e7-9e75-7ff993d48174.png)
![screenshot_20171127-2](https://user-images.githubusercon

[2017-11-27 08:41] flocke commented on #14
I like it so far, I will review the code when you make a pull request after you think it's ready.
And I'm gonna create an issue later today to poll for the icons we should ship. And I have to look into the copyright implications of shipping all those icons as well.

[2017-11-27 08:59] RichyHBM commented on #14
Cool, I think it should be ready within the next couple days. Maybe for the PR I could just add category images rather than specific companies, I.e. an image for banking rather than specific bank logos?

[2017-11-27 09:07] RichyHBM commented on #14
PS, In terms of the logos themselves, they come from https://github.com/gilbarbara/logos. Though some may have some odd trademarks or copyrights, but at least there is a repo of images we can take from

[2017-11-27 09:09] flocke commented on #14
Yeah, we should do something generic at first and then add the logos the users need later.

[2017-11-27 09:41] RichyHBM commented on #5
This may be useful, https://github.com/winauth/winauth/blob/master/Authenticator/HOTPAuthenticator.cs

[2017-11-27 12:25] flocke commented on #71
I just tested it and on my phone almost everything is scaled with the font size set in the Accessibility settings. Only the labels and the Tags are not (yet) scaled correctly.
This seems to be a problem with your phone. I'm gonna try the app on my girlfriends phone (Sony Xperia Z5 Compact) next weekend to see if it something specific to Sony.

[2017-11-27 12:26] flocke commented on #71
**Help wanted**:
It would be nice if some other users could test scaling the font size in the Accessibility settings and report back if it works with andOTP.

[2017-11-27 14:48] flocke opened #73 "[Question] Which icons should be included in andOTP?"
Hey guys, it's time to ask for your opinion again.

@RichyHBM is currently in the process of implementing the ability to assign icons to the entries in andOTP (see #14).

We decided not to implement an option to manually select icons as this would make storage and backups very large and a lot more complicated. Instead we will be shipping a selection of pre-defined icons with andOTP which can be se

[2017-11-27 15:45] SuperVirus commented on #73
### Already existing SVG
- [Bitbucket](https://github.com/gilbarbara/logos/blob/master/logos/bitbucket.svg)
- [Kickstarter](https://github.com/gilbarbara/logos/blob/master/logos/kickstarter.svg)

### No SVG
Maybe I'll create some SVG files by myself.
- ArenaNet
- BattleNet / Blizzard
- Electronic Arts
- Hurricane Electric

[2017-11-27 16:26] RichyHBM commented on #73
Given that andOTP doesn't support blizzard authenticator (yet) maybe that one should be lower priority

[2017-11-27 16:38] flocke commented on #73
You can already use andOTP with Blizzard accounts, they use a default TOTP token. The only tricky thing is to get the account secret.

[2017-11-27 16:43] RichyHBM commented on #73
Oh really? I had no idea, I always thought it was a propriety algorithm given you had to use their authenticator

[2017-11-27 16:52] flocke commented on #73
Yeah, took me a while to figure that out as well. I will write up a howto in the wiki later. That's enough off topic for this issue ;)

[2017-11-27 17:12] bungabunga commented on #71
I also checked with my old phone, Xperia Z3c, and it was the same. Will also check with my son's phone in a few days, but it's also a Sony device.

[2017-11-27 18:22] aircooledcafe commented on #73
- [Amazon](https://cdn.worldvectorlogo.com/logos/amazon-icon.svg)
- [Dropbox](https://upload.wikimedia.org/wikipedia/commons/3/3a/Dropbox_Logo_02.svg)
- [Slack](https://cdn.worldvectorlogo.com/logos/slack-1.svg)
- [Twitter](https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg)
- Bitwarden
- [LastPass](https://lastpass.com/press-room/)

[2017-11-27 18:32] aircooledcafe commented on #73
[BattleNet](https://visualpharm.com/assets/183/Battle.net-595b40b65ba036ed117d3c21.svg)

[2017-11-27 18:51] stonerl commented on #72
I used this link:
https://github.com/flocke/andOTP/releases/download/v0.3.0/andOTP_v0.3.0.apk

This is the files md5:
a013052f64befa3197f5425787efabb8

But this version is shown:

![screenshot_20171126-140912](https://user-images.githubusercontent.com/2091312/33283474-37112114-d3ac-11e7-8014-57cf96b8b8d5.png)

![screenshot_20171126-140855](https://user-images.githubusercontent.com/2091312/33283483

[2017-11-27 19:11] stonerl commented on #73
[WordPress](https://en.m.wikipedia.org/wiki/WordPress.com#/media/File%3AWordPress_blue_logo.svg)
[RSS-Feeds](https://de.m.wikipedia.org/wiki/RSS_(Web-Feed)#/media/Datei%3AFeed-icon.svg)

[2017-11-27 19:14] flocke commented on #72
Nope, I just installed the same APK file from Github on my device and it says 0.3.0.
Did you try to upgrade from the F-Droid version? If yes you have to uninstall the F-Droid version first (don't forget the backup!!!) and install the APK afterwards.
They are signed with different keys, so installing one "over" the other doesn't work.

[2017-11-27 19:19] stonerl commented on #72
I'm stupid... Sorry for the fuz. Just uninstalled it and installed it again. Don't know why but for some reason the package installer did not give me an error and I assumed it had been installed. Should have checked twice before filing a (non) bug. Sorry.

[2017-11-27 19:19] flocke commented on #72
No worries, I am glad it worked itself out.
Strange though that there was no error.

[2017-11-27 21:32] RichyHBM commented on #73
@stonerl I'm confused as to why you would need an RSS feed icon

[2017-11-27 21:39] stonerl commented on #73
@RichyHBM I'm using Tiny Tiny RSS with 2FA and I assume there are other feed services that allow 2FA. This would be covered by the RSS-Feed icon IMHO.

[2017-11-27 22:23] RichyHBM commented on #73
@stonerl Fair enough

Another site with logos https://worldvectorlogo.com/

[2017-11-27 22:54] RichyHBM commented on #73
I may have come across a small issue with the resolution of the vectors, I had previously been using the size they were designed with with made them look crisp but when using an image as big as slack it caused an OOM exception, I have now made all vectors as small as possible but they look a little blurry.

Its probably best seen when I do the PR but it may beg the question about what the max reso

[2017-11-28 07:24] RichyHBM commented on #73
Oh, I hadn't noticed that. Tried using a logo from them and it didn't keep the colors so I'm not even sure they conform to svg standards either

[2017-11-28 07:56] Primokorn commented on #73
[svg for bitwarden](https://ncloud.zaclys.com/index.php/s/kb74znzGX10e3Bn) (creation based on the app icon)

[2017-11-28 13:22] RichyHBM commented on #73
Some of those svg's are huge! I have grabbed the protonmail logo from their site and also have bitwarden.

Have added most of the suggested icons so far, and have gone through twofactorauth.org and added a bunch from there as well, I think that gives us a good amount of used services for now

[2017-11-28 14:46] 5t0rmr1d3r commented on #73
How about:
Teamviewer
Ubisoft
Discord
?

[2017-11-28 15:34] flocke commented on #73
@RichyHBM How big are we talking? At some point we have to think about some other approach ...

[2017-11-28 15:51] RichyHBM commented on #73
Well the logos on linked by @Primokorn are at least half a mb each, all other logos I have been adding have been about a couple of KB each.

Not saying they shouldn't be added, but I don't like using conversion tools as they tend to bloat the files, would rather look for a file created specifically for vector format

[2017-11-28 16:16] flocke commented on #73
I think 0.5 MB **per icon** is way to much. That could very quickly increase the size of andOTP which is something I would like to avoid.

[2017-11-28 16:51] RichyHBM commented on #73
Yea, currently andOTP with all added icons is using up 3.64mb on my phone, so still very light

[2017-11-28 23:07] ZJaume commented on #16
I have updated the app from f-droid now, and after the update all the entries are lost. Then i have tried to restore them and shows restored correctly but it doesn't. I'm on LOS 14.1, and [this](https://pastebin.com/SbtjF4NL) the logcat that I have been able to save. I don't know if it will work.

[2017-11-29 05:59] bungabunga commented on #71
UPDATE: I just upgraded my device to Android Oreo and the font sizes now get changed according to accessibility setings! :) I don't want to close this issue, since it's still present on previous versions of Android (at least on Sony devices).

[2017-11-29 06:08] flocke commented on #16
@ZJaume That logcat seems to be truncated, it is cut of right when things get interesting.
The last error it shows is that an entry has no tags, which is completely fine since before 0.3.0 there were not tags at all. There has to be something else afterwards.
It's strange that it suddenly appeared for you after an update since I didn't touch anything in the storage / KeyStore code for this version

[2017-11-29 06:09] flocke commented on #71
@bungabunga Alright I will check it out on versions below Oreo on my second device as soon as it gets back from repairs.

[2017-11-29 07:15] Primokorn commented on #73
I had to do it on my phone. I can create the svg files with Inkscape this weekend if necessary.
What about using drawables instead of pictures? You can convert them using this tool: http://inloop.github.io/svg2android/
A few Kb only.

[2017-11-29 07:34] flocke commented on #73
Yeah, we already convert the SVG files to Android drawables. But the format is very similar, so if the SVG is big the drawable will be as well.

[2017-11-29 07:35] RichyHBM commented on #73
Yes sorry, that's what I have been doing (android studio has a built in converter now) but the size of the drawables has been roughly the same size as the svg's

[2017-11-29 07:35] flocke commented on #73
@RichyHBM As the current APK on Github is already 3.1 MB I think 3.6 MB with all the icons is totally fine.

[2017-11-29 10:25] Primokorn commented on #73
@flocke so you will also include my proposals/icons?

[2017-11-29 10:31] RichyHBM commented on #73
@Primokorn already have bitwarden and proton mail, I can have a look for a logo for cozy and next cloud. Can't find any info on what mastodon is, can you provide a link to their sirlte or something?

[2017-11-29 12:48] flocke commented on #73
I updated and organized the first post a little better.

[2017-11-29 13:09] ZJaume commented on #16
@flocke I have only delete the logs before the installation, and no more.

[2017-11-29 13:29] flocke commented on #16
@ZJaume Still there seems to be something wrong with the logcat. It ends in the middle of this error
[code]
which is not even a full stacktrace.

[2017-11-29 13:42] ZJaume commented on #16
@flocke So strange, I had stopped the logcat a minute before trying to restore backup, it should appear full. The next time I'll try better, sorry.

[2017-11-29 13:44] RichyHBM commented on #73
Looks good, FYI Origin is the Electronic Arts client. I assume that's what @SuperVirus meant?

[2017-11-29 15:09] flocke commented on #73
Yeah, I assume that's what he meant. Just forgot to remove the "Electronic Arts" entry.

[2017-11-29 22:40] RichyHBM commented on #73
Added cozy cloud, next cloud and mastodon

[2017-11-29 22:46] RichyHBM commented on #73
Also, to add to the table, angellist, apple, bitcoin, cloudflare, digital ocean, discord, ifttt, mailgun, paypal, slack, stripe, twitch, twitter, wordpress all come from https://github.com/gilbarbara/logos and so are CC0-1.0

lastpass logo, https://lastpass.com/press-room/

[2017-11-30 09:19] #14 closed

[2017-11-30 09:54] Primokorn commented on #73
@RichyHBM Thanks mate.
For the records: Mastodon is a decentralized microblogging network.

[2017-11-30 11:55] flocke commented on #73
I'm gonna close this now since almost all requested icons are included.
I moved the list to the wiki: https://github.com/andOTP/andOTP/wiki/Thumbnails

If you got additional requests please open a new issue (but please not for every icon a separate one).

[2017-11-30 11:55] #73 closed

[2017-11-30 15:04] flocke commented on #68
Yeah, I have never done anything for Wear as well. This is an ultra-longtime goal ...

[2017-11-30 15:58] alsternerd opened #76 "andOTP crashes the launcher and Settings-Apps"
#### General information

* **App version:** Version 0.3.0 (11) - Added on 2017-11-28
* **App source:** F-Droid
* **Android Version:** 6.0.1
* **Custom ROM:** KonstaKANG LineageOS

#### Expected result
**What is expected?**
The app installs/upgrades without crashes parts of the system or the whole system.

**What does happen instead?**
It crashes the App-Launcher and Settings -> Apps Menu.
No unin

[2017-11-30 16:11] flocke commented on #76
Alright, I'm gonna upgrade to SDK 27 for the next release.
Would you be willing to try a test build?

[2017-11-30 16:13] alsternerd commented on #76
Yes, I whould. :) (Good thing abd exists in emergency. :))

[2017-11-30 16:32] alsternerd commented on #76
Won't install over 0.2.8. The installation fails.

[2017-11-30 16:33] flocke commented on #76
Yeah, it isn't signed by the same key (in fact it isn't at all, I'm not at my regular build rig).
You will have to uninstall 0.2.8 and install this one (don't forget the backup!!!). You will to have to repeat the same procedure when going back to the official builds after this test.

[2017-11-30 16:37] alsternerd commented on #76
Ok, it worked! :)

I don't know why or what the issue is exactly with these two SDK-Versions but somehow they break it.

[2017-11-30 16:37] flocke commented on #76
Nice, I will push the SDK update to Github.
It will be in the next release.

[2017-11-30 16:42] #76 closed

[2017-11-30 20:30] Swedneck commented on #14
Why not also allow the user to set a custom image?

[2017-11-30 20:45] flocke commented on #14
Maybe in the future. For now this was easier. Custom images would require a lot of work and make the data store as well as the backup a lot larger and more complicated.

[2017-11-30 21:10] Swedneck commented on #14
Alright, nice to see some logos at least!

[2017-12-01 06:32] MaDill commented on #71
I checked it on my Lenovo Tab4 8 Plus with Android 7.1 and the menu and nearly all other text stay in the same size. Other apps change the font size.

[2017-12-01 06:44] MaDill opened #77 "show password with a separate timeout, not till renew"
Feature request!

* **App version:** 0.3.0
* **App source:** Google Play
* **Android Version:** 7.1.1
* **Custom ROM:** stock, no root or other modifications

#### Expected result
**What is expected?**
I set the option to hide the password and need to manually tap them to show up. I suggest to show the passwords for a defined time and not only till the next period starts. For example I unhide it w

[2017-12-01 06:57] flocke commented on #77
I like the idea, I'll have to look into how to best implement that without adding to many checks for timeouts.

[2017-12-01 07:07] flocke commented on #71
You are right, I just checked on my new phone with Android 7.1.2 and it doesn't work.
I'll have to look into how to make it work on versions below Oreo.

[2017-12-01 12:26] flocke commented on #77
While trying to implement this I noticed that this perfectly ties in with #67.
Thanks again for suggesting it ;)

[2017-12-01 14:45] #77 closed

[2017-12-01 14:45] #67 closed

[2017-12-01 15:11] flocke commented on #71
I can't seem to figure out what the problem is on Android versions below Oreo.
If someone knows how to make this work please tell me.

[2017-12-02 10:06] flocke commented on #73
@RichyHBM I just found the time to write up something on how to use andOTP with Battle.net: https://github.com/andOTP/andOTP/wiki/Shared-secrets
Just in case you are still interested.

[2017-12-02 12:29] flocke commented on #77
I already implemented it, but what do you think would be a good default timeout?
You can change it anytime in the settings, I just need a good default value.

[2017-12-02 15:15] SpotComms opened #78 "[Feature Request] Symantec VIP Support"
Symantec has this proprietary TOTP management system called Symantec VIP. It is the only option for 2FA on some services.

However there exists a somewhat actively maintained Python implementation that supports creating registration credentials and outputting a a TOTP secret that can be then imported into any standard TOTP app.
Python implementation: https://github.com/dlenski/python-vipaccess

Th

[2017-12-02 21:19] flocke commented on #78
As you already mentioned I am not to keen on implementing this. For one the Network permissions are something I never wanted to add to andOTP. And on the other hand can you easily use python-vipaccess to register an account and then print the TOTP secret to import in andOTP (that is what I did for my PayPal account).

[2017-12-02 23:10] beerisgood commented on #16
Can confirm this bug with my OnePlus 2 and latest LineageOS
Here my log:
[logcat.txt](https://github.com/andOTP/andOTP/files/1524338/logcat.txt)

[2017-12-02 23:12] flocke commented on #16
Yeah, my old phone is getting repaired right now. As soon as it is back I will install LineageOS and try to debug this.

[2017-12-02 23:21] Swedneck opened #79 "[Feature request] Autofill"
Would it be possible to implement an autofill feature like in bitwarden?

[2017-12-03 08:05] flocke commented on #79
I'll have to do some research as I have no idea on how to implement something like this. If I decide to implement this it will take some time.

[2017-12-03 12:40] flocke commented on #78
I will write a small entry in the wiki on how to use python-vipaccess to get the TOTP secret and import it in andOTP (as I did for Battle.net) and then close this issue.

[2017-12-03 18:08] MaDill commented on #77
I also think 30 seconds is a goog value. Thank you.

[2017-12-04 14:42] Pledkae commented on #78
Does anyone know what happens when credential expires (or does it really expire)? Output from provisioning a new credential with python-vipaccess gives "This credential expires on this date:".

Regarding PayPal mentioned above - is it necessary to define token model (VSST/VSMT)?

Thanks!

[2017-12-04 15:01] RichyHBM opened #80 "Replace existing entries should default to false"
Currently the default behaviour when restoring from a backup is to wipe all entries and add the restored ones, this can cause you to lose entries if you for example added a new entry before restoring an old backup.

I think by default this should be set to false, that way the worse that can happen is you end up with duplicates (which you can remove manually)

Ideally we could have some logic to de

[2017-12-04 18:12] flocke commented on #80
Yeah, I was thinking about that as well. I kept the default "true" because that was the behavior before I added the switch. I will switch it in the next release.

The duplicates should already be detected and removed. It all comes down to the `equals()` function of the Entry class to detect duplicates.

[2017-12-05 06:37] #80 closed

[2017-12-05 13:08] flocke commented on #78
I just added a description to the wiki: https://github.com/andOTP/andOTP/wiki/Shared-secrets

It's based on [this](https://medium.com/@dubistkomisch/set-up-2fa-two-factor-authentication-for-paypal-with-google-authenticator-or-other-totp-client-60fee63bfa4f) post (which is also linked).

@Pledkae I don't know what will happen if it expires (or if it does at all), sorry.

[2017-12-05 13:08] #78 closed

[2017-12-05 15:47] badzso opened #81 "54c2f20bb32f78db0066a97b858f837b"
Check if all requirements are fulfilled otherwise the issue will be closed without any comment

  * Add details to fields  below
  * Use search. Check if the issue is already reported before creating a new one.
    https://github.com/flocke/andOTP/issues
  * Try again after clearing the apps data before posting (**don't forget to backup**)
  * Record a logcat: https://goo.gl/mc71vk
  * Bug reports

[2017-12-05 15:55] badzso commented on #81
[CoinTracking · Total unrealized and realized Gain  Loss each Currency (1).xlsx](https://github.com/andOTP/andOTP/files/1531854/CoinTracking.Total.unrealized.and.realized.Gain.Loss.each.Currency.1.xlsx)

[2017-12-05 16:11] #81 closed

[2017-12-05 16:37] enwokoma opened #82 "Save button should be always disabled until a secret key is entered"
When I try to mess around with the app by clicking on Save without actually inputting the secret key, the app just crashes and trying to restart the app, it keeps crashing on startup, so only option is to clear the app's data which shouldn't be so, I think it's rather better to maybe disable the save button when the edittext fields are still empty so as to prevent the crash from happening for peop

[2017-12-05 16:44] RichyHBM commented on #82
Hmm, that's odd, not crashing for me with empty secret

[2017-12-05 16:48] enwokoma commented on #82
Hmmm.. Mine is Lollipop, tried on lollipop?

[2017-12-05 17:21] RichyHBM commented on #82
I'm on nougat

[2017-12-05 18:09] enwokoma commented on #82
Ouch! Try running on AVD with lollipop

[2017-12-05 18:11] enwokoma commented on #82
Well, anyways, I honestly think disabling the save button on default would be an enhancement just in case this crash issue happens on just lollipop. For me? I think it is nicer that way!

[2017-12-06 02:12] icetbr commented on #16
NO PROBLEMS on my LineageOS 14.1 10/10/2017. Used just one QRCode for testing. Even restarted phone.

Device: MotoG Play.

[2017-12-06 03:06] SkyWheel commented on #16
Xiaomi Redmi Note 3 (kenzo) LineageOS 14.1 latest nightly build (official) .
Everything works fine.

On December 6, 2017 2:12:37 AM UTC, icetbr <notifications@github.com> wrote:

[2017-12-06 06:26] flocke commented on #82
Just tried it in a Lollipop AVD and can confirm that it is crashing.
Disabling save until a secret is entered should be easily done, I will push something later today.

[2017-12-06 06:39] flocke commented on #82
After some further digging I can say the crash is not caused by the empty secret. An empty secret works fine (you get a token with just zeros from that). Tested on Lollipop and Nougat AVDs.

@enwokoma Did you by any chance also not input a label, if yes then this is what caused the crash. If no I would love a logcat.

@RichyHBM An empty label causes a crash in the LetterBitmap class.

[2017-12-06 06:42] flocke commented on #82
I will push something anyways to disable the save button until a label and a secret is entered.
Since it does not really make sense to add an entry without both ...

[2017-12-06 10:26] MartinX3 commented on #16
@icetbr and @SkyWheel
Try to update your LineageOS and wipe the dalvik & cache after that.
But don't forget to EXPORT a backup of this app (not titanium backup!)

[2017-12-06 10:32] RichyHBM commented on #16
I'm using lineage 14.1, update when ever a new update is available and wipe my dalvik/cache regularly and haven't seen this issue

[2017-12-06 11:24] flocke commented on #16
With my new phone I also use a LOS-based ROM (AICP) and have never had this problem.
But still, on some devices LOS has apparently problems with the KeyStore (see https://jira.lineageos.org/browse/BUGBASH-590). The error reported there is the same as most of the logcats here.
I hope I will be able to reproduce this with my old phone when it get's back from repair.

[2017-12-06 11:27] flocke commented on #16
During my (limited) research of the internal functions of the KeyStore I got two ideas what could cause this:
1. It might have something to do with the lockscreen / the method used to lock the phone (Swipe, PIN, Pattern, ...)
2. It might have something to do with hardware cryptography on specific devices

[2017-12-06 11:30] flocke commented on #16
**Help wanted**:

Could everyone facing this problem please tell me those things:
- Model of your phone
- Which ROM are you using (exact version please)
- Which Gapps are you using (as well with the exact version)
- Which method are you using to lock your phone (PIN, Pattern, Swipe, Facelock, Fingerprint, ...)

[2017-12-06 11:33] ZJaume commented on #16
@flocke My dev info:
- Motorola Moto G (XT1032)
- Lineage OS 14.1
- No Gapps, microG Services Core v. 0.2.4-105
- 4x4 Pattern

[2017-12-06 11:39] barul42 commented on #16
@flocke Here are the infos:

- Samsung Galaxy S5 (klte)
- LineageOS 14.1 (20171130 nightly but happening since I can remember)
- No Gapps or microg
- PIN code

[2017-12-06 11:52] haeckle commented on #16
@flocke My device where I have this issue:

- Motorola Moto G (XT1068)
- LineageOS 14.1 (20171202-nightly)
- No Gapps or microG
- PIN

[2017-12-06 12:30] flocke commented on #16
https://github.com/andOTP/andOTP/wiki/Issue-%2316

Feel free to add your information directly instead of posting it here.

[2017-12-06 13:08] RichyHBM commented on #82
I'm right in saying the thumbnails isn't out on the play store yet, right?

[2017-12-06 13:10] flocke commented on #82
True ... haven't thought about that.

In that case I was unable to reproduce this, when I set a label (to avoid the thumbnail crash) and no secret it works on Lollipop and Nougat as well.

@enwokoma Could you post a logcat of the crash?

[2017-12-06 13:11] MartinX3 commented on #16
@flocke
I added my Nexus 6 to this link

@______________________________all
I recommend only click on the emoticons under your message, after adding your device, instead of posting here.

[2017-12-06 14:19] flocke commented on #82
I'm closing this, as I have implemented the check if label and secret are empty.
But I would love a logcat from @enwokoma to see what the problem was (as I wasn't able to reproduce it in an AVD with Lollipop and Nougat).

[2017-12-06 14:19] #82 closed

[2017-12-06 17:18] enwokoma commented on #82
Ok.. Sure! When I get home, I would post a logcat!

On Dec 6, 2017 15:19, "Jakob Nixdorf" <notifications@github.com> wrote:

[2017-12-06 17:52] hvhaugwitz opened #83 "[Feature request] add option to separate token into blocks"
To improve readability of tokens with a length >= 6 please consider to add an option to separate the token into blocks (e.g. 123456 -> 123 456 or 12345678 -> 1234 5678).

[2017-12-06 18:01] hvhaugwitz opened #84 "[feature request] please add the label to removal confirmation dialog"
On account removal andOTP asks: "Are you sure you want to delete this account?", but does not display the label of the account to be removed. Please consider to add the label.

[2017-12-06 18:07] flocke commented on #83
I was thinking about this as well because I always read the tokens in blocks of 3.
I will try to get this in for the next release (v0.3.2 as v0.3.1 is already in preparation).

[2017-12-06 18:08] flocke commented on #84
Sure, that is also something I have been thinking about already and just never got around to implement.
With this issue on the milestone for release v0.3.2 I should remember this time.

[2017-12-07 06:18] flocke commented on #16
It's still a little early but the one common factor I see is LineageOS 14.1 without Gapps.
So that is what I will try first when I get my phone back.

[2017-12-07 06:39] SkyWheel commented on #16
LineageOS 14.1 without gapps,  everything works OK. So, not really common factor.

On December 7, 2017 6:18:07 AM UTC, Jakob Nixdorf <notifications@github.com> wrote:

[2017-12-07 08:13] flocke commented on #16
Damn it, and here I thought I found a point to start my investigation ...

[2017-12-07 08:49] RichyHBM commented on #16
What if andOTP had a toggle to switch from using the keystore to just using a strong master password?
That way people affected by this could use this instead, (it would also let people use titanium backup)

The down side being that security may not be as good

[2017-12-07 08:56] flocke commented on #16
Yeah, I already got that planed (see https://github.com/andOTP/andOTP/wiki/Encryption-details).
It would take a major rewrite of the whole encryption stuff which is why I put it of until I got some time (maybe over the holidays).

[2017-12-07 09:35] enwokoma commented on #82
So, Good Day!
I've managed to narrow down the logcat as to the time of the crash and this
is what I got!

127-07 08:54:30.942 20518-20518/? E/SpannableStringBuilder:
SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have zero length

On Dec 6, 2017 18:18, "Emmanuel Nwokoma" <nwokomaemmanuel@gmail.com> wrote:

[2017-12-07 10:17] flocke commented on #82
@enwokoma Could you maybe post the full logcat. Only one error makes it kind of hard to debug.
And are you trying this on a Samsung phone with TouchWiz or using a different keyboard app?

[2017-12-07 11:22] MartinX3 commented on #16
But I had the same Problem with nano gapps, too.
Switching to MicroG didn't caused the bug.
It happend regardless of gapps.

Am 7. Dezember 2017 07:18:07 MEZ schrieb Jakob Nixdorf <notifications@github.com>:

--
Mit freundlichen Grüßen

Martin Dünkelmann

[2017-12-07 11:58] enwokoma commented on #82
Am using swiftkey keyboard on OnePlus 5T

On Dec 7, 2017 11:17, "Jakob Nixdorf" <notifications@github.com> wrote:

@enwokoma <https://github.com/enwokoma> Could you maybe post the full
logcat. Only one error makes it kind of hard to debug.
And are you trying this on a Samsung phone with TouchWiz or using a
different keyboard app?

—
You are receiving this because you were mentioned.
Reply to this

[2017-12-07 11:58] enwokoma commented on #82
I would try copying and pasting the full logcat later today as requested.

On Dec 7, 2017 12:57, nwokomaemmanuel@gmail.com wrote:

Am using swiftkey keyboard on OnePlus 5T

On Dec 7, 2017 11:17, "Jakob Nixdorf" <notifications@github.com> wrote:

@enwokoma <https://github.com/enwokoma> Could you maybe post the full
logcat. Only one error makes it kind of hard to debug.
And are you trying this on a

[2017-12-07 12:02] flocke commented on #82
@enwokoma That would be nice. Please use pastebin or something like that, a full logcat is a little to much to copy & paste here directly.

[2017-12-07 12:11] enwokoma commented on #82
Ah ha.
I would check out pastebin!

On Dec 7, 2017 13:02, "Jakob Nixdorf" <notifications@github.com> wrote:

[2017-12-07 12:28] flocke commented on #16
Ok, so we are back to LineageOS 14.1 as the only common factor. And it might be device-specific.

[2017-12-07 13:14] enwokoma commented on #82
Ok.. Just returned from school and had to handle lots of client work.. Here is the full logcat as you requested for me to use pastebin..
[logcatfull.txt](https://github.com/andOTP/andOTP/files/1539152/logcatfull.txt)

[2017-12-07 20:15] beerisgood commented on #16
I add my OnePlus2 (LOS) with Password+Fingerprint - without any GAPPS

[2017-12-09 17:42] mawoca commented on #16
Crashing your lineageOS party: I have the same issue, but on a Samsung Galaxy Note 3 with unmodified stock ROM (Build-No LRX21V.N9005XXSGBPL6)

[2017-12-09 19:13] thfrwn commented on #16
Model of your phone: Asus Zenfone 2 (Z00A)
Which ROM are you using (exact version please): LineageOS 14.1
Which Gapps are you using (as well with the exact version): microG
Which method are you using to lock your phone (PIN, Pattern, Swipe, Facelock, Fingerprint, ...): Pattern

[2017-12-09 23:49] RichyHBM commented on #16
Just a thought but is anyone using any auto unlock features? Location/Bluetooth...

[2017-12-10 08:24] chuugar commented on #16
I can confirm the bug :
Honor 5x LineageOs 14.1 (without gapps) stock
Unlock by pattern + fingerprint
I don't use auto unlock

[2017-12-10 13:24] beerisgood commented on #16
No auto unlock features here.
Also i test all available protections in app but not one save the tokens. Not even without protection

[2017-12-11 05:31] l0b0 opened #85 "Clarify default parameters"
The form to manually add new entries comes up with the default algorithm options already selected (TOTP, 30 second period, 6 digits, SHA-1 hashing). This is great, but I think the form can still be improved a bit:

- TOTP is a selection list even though there are no other selections, so it would be better if it was static text until and unless someone implements other options.
- I've used a few OT

[2017-12-11 07:40] RichyHBM commented on #85
There is also a steam guard implementation hidden behind the secret features which is why the algorithm is a drop down.

I for one have about 30 entries and the tagging is basically what made me switch to andotp (I was the one that implemented it). If you activate 2FA on every site that supports it (which I recommend you do) they soon build up

[2017-12-11 07:51] flocke commented on #85
- As @RichyHBM already mentioned I added support for SteamGuard tokens hidden under the "Special features" (since there are certain limitations when only using andOTP and not the official Steam app). Also I plan to add HOTP support in the future (I currently don't have a lot of time but maybe over the holidays).

- I don't dislike the idea of hiding the more advanced options. That would also clean

[2017-12-11 10:06] #85 closed

[2017-12-11 10:26] #84 closed

[2017-12-13 10:53] j0k2r commented on #16
In my case, the bug is solved after LineageOS 14.1 nightly update (20171211).

Previous configuration:
- andOTP v0.3.0
- OnePlus One (bacon)
- LineageOS 14.1 (20171204)
- Gapps: None
- Lock: 3x3 Pattern

[2017-12-15 02:27] o-alquimista commented on #16
Moto G4 Play (harpia)
Lineage OS 14.1 latest build
No Gapps / no Root
andOTP F-Droid version
Long password unlock method
+ /data/ encryption

[2017-12-15 02:31] o-alquimista commented on #16
EDIT: problem only started today. I recently installed a build update (2-3 days ago)

[2017-12-15 06:16] akhilkpdasan opened #86 "[Feature Request] Add git support to push and pull encrpyted backup from remote repository."

[2017-12-15 07:24] RichyHBM commented on #86
If you need git support you should use another app with andOTP, I don't think andOTP should include git support directly

[2017-12-15 12:41] flocke commented on #86
I agree with @RichyHBM. I already decided against supporting cloud storage for backups, which basically comes down to the same thing.

The main reason is that I want to keep andOTP as light and simple as possible, which includes not adding features that can be easily achieved with other apps. You should use a third-party app to upload the backups to git.

[2017-12-15 12:42] #86 closed

[2017-12-15 12:56] flocke commented on #16
I updated the wiki, hopefully I got everything posted here.
The most common factor still seems to be LineageOS (even if @mawoca kind of ruins that trend).
My old phone is on it's way back from being repaired, so maybe I will be able to debug this myself soon.

**Additional question for everyone**: Do you guys have your `/data` partition encrypted?

@mawoca Could you try and get me a logcat, maybe

[2017-12-15 13:05] barul42 commented on #16
@flocke Nope, no encrypted partition here.

[2017-12-15 14:26] MartinX3 commented on #16
@flocke I use device encryption

[2017-12-15 17:26] j0k2r commented on #16
@flocke I use device encryption

[2017-12-15 20:53] beerisgood commented on #16
@flocke i use fully device encryption with password at boot

[2017-12-15 22:48] haeckle commented on #16
@flocke I'm also using device encryption but with a different password then the unlock pin

[2017-12-16 00:31] 0xb100d opened #87 "Can't submit PIN, access OTPs [F-Droid]"
I'm missing logcat because I'm currently traveling which is making this issue more serious for me.

-----------------------------

#### General information

* **App version:0.3.0**
* **App source:** F-Droid...
* **Android Version: 6**
* **Custom ROM:Lineage 13**

#### Expected result
**What is expected?**
I type in my PIN and it takes me to my OTPs.
**What does happen instead?**
there is no way to

[2017-12-16 07:26] flocke commented on #87
Just tested it and it works without problems for me. It shouldn't be a problem that you added the PIN before adding any OTPs.
Are you using a hardware keyboard? Because normally the Enter / Done key on the virtual keyboard should work (but I never tested with a hardware keyboard).

[2017-12-16 15:28] mawoca commented on #16
@flocke Good news (or bad, depends): I had mixed this app up with the original otp-authenticator (where the bug existed if I didn't have a lockscreen set). With andOTP, it works like a charm. Thanks for the great work!

[2017-12-16 16:17] flocke commented on #16
Very strange, the in-app authentication is in no way tied to the way the tokens are stored.

[2017-12-16 17:20] RichyHBM commented on #16
@mawoca if you disable in app author, and add new tokens, do they disappear?

[2017-12-16 19:35] mawoca commented on #16
I recreated the issue, and turned out it was linked to me clearing the device's credential storage. Once I had done that, andOTP would immediately and from that moment on consistently forget the tokens independently of any lock/auth feature. Before the clearing, the app works flawlessly (with every possible authentication mode). Reinstalling the app seems to reinstall the necessary certificate or

[2017-12-16 20:45] RichyHBM commented on #16
How do you mean clearing the devices credentials?
I'm unable to repro

[2017-12-16 21:49] mawoca commented on #16
Might vary from device to device, on mine it is (roughly, System language is not English): System Settings -> General -> Security -> Certificate Storage -> Delete Certificates (Clear all certificates). Alternative ways (in native English) are for example (provided in this stackoverflow answer: https://android.stackexchange.com/a/52139): Settings > Security > Clear credentials, or Settings > Securi

[2017-12-17 11:51] o-alquimista commented on #16
I cannot reproduce after latest update from F-Droid. Version 0.3.1
It survived a reboot.

[2017-12-17 14:24] 0xb100d commented on #87
I'm not using a hardware keyboard, and pressing enter is not working for me. Is there any message displayed if the pin is incorrect? I am fairly certain I'm putting in the pin  I set, but am not getting any notification one way or another when I type in the PIN and press enter.

Is there anything else I can do to access my OTPs? I just updated the app and still no luck. Thank you!

[2017-12-17 15:54] flocke commented on #87
Sadly I can't do much without a logcat (except guessing). If the PIN you enter is wrong you should get a toast notification and the app should automatically close.
Are you using the stock LineageOS keyboard?

Sadly there is no easy way to get to your tokens. If you got a recent backup from andOTP you could decrypt it on your PC and try to import the tokens manually in another app. But that require

[2017-12-17 15:59] 0xb100d commented on #87
I will try to get a logcat soon. I am using a different keyboard, I will try default google. Unfortunately I did not back up, since as soon as andOTP closed after first loading OTPs it asked me for PIN.
Does it mean anything that I am not getting any message or anything upon inputting the PIN? I am pretty sure it is correct, but it isn't even telling me that I've done anything wrong.

[2017-12-17 16:10] flocke commented on #87
If you press enter on the keyboard and absolutely nothing happens (not even the keyboard closes) then it is not an error with your PIN.
As a quick and dirty fix (if switching to the stock keyboard does not help) if you are rooted you can disable the authentication by manually editing the settings files.
For that take a root explorer (Amaze for example) and go to `/data/data/org.shadowice.flocke.an

[2017-12-17 16:12] 0xb100d commented on #87
Will try this now, and was exactly what I was hoping for. Really love the app (got it so that I could do backups, total failure on my part) and really appreciate your help!

[2017-12-17 16:52] flocke commented on #87
Which keyboard were you using (just so I can maybe try and reproduce this myself)?

[2017-12-17 16:54] 0xb100d commented on #87
its keyboard 69. I finally randomly got the toast error and quit, but I'm not quite sure how it decided to come up when I seem to not have done much differently.

[2017-12-17 18:30] beerisgood commented on #16
@ o-alquimista: So you use LineageOS with encrypted device and lockscreen protection?

[2017-12-17 21:09] flocke commented on #87
I just tested Keyboard 69 on my device and got the same problem. This seems like more of a keyboard error than something to do with andOTP.

[2017-12-18 09:07] flocke commented on #87
As I said that seems to be a keyboard error with Keyboard 69. The password entry is just a default Android text entry so it should work with all keyboards.
Regardless I will add a separate button to submit the PIN/Password independent of the keyboard in the next version.

[2017-12-18 09:17] flocke commented on #71
After a while of trial and error I still can't seem to figure out what the problem is ...
Any help is appreciated ...

[2017-12-18 10:48] o-alquimista commented on #16
@beerisgood Yes, LineageOS with encryption and lockscreen protection. However, recently I changed from long password to 4x4 pattern. Could it change anything?

[2017-12-18 11:20] flocke commented on #16
From my reading on the KeyStore this should not matter (unless I set the key so it requires authentication to use, which I did not).
My old phone is back from the shop and I'm gonna try to install LineageOS later today and try a couple of things. Although if this is really device-specific I might not be able to reproduce even with that ...

[2017-12-19 07:56] flocke commented on #16
I just installed LineageOS 14.1 (latest nightly) on my phone and everything is working fine. I even tried clearing the credentials as @mawoca suggested but the app still works as expected.
This seems to be indeed a device-specific bug. I will try some more (other nightlies) later this week.

Another shot in the dark: Could the affected users please also tell me the value of "Storage type" under Se

[2017-12-19 08:41] MartinX3 commented on #16
@flocke
You tried also clearing cache and dalvik from recovery and after that installed a rom from another date?

Nexus 6 > Storage-Type "Hardware" > affected

[2017-12-19 08:41] flocke commented on #16
Not yet, but will soon. I'm currently at work.

[2017-12-19 08:48] nomisma-qt commented on #16
Hello

I have a faint memory my problems began after i wiped dalvik and cache after upgrading ROM
Took the time to login and mention that because this bug is driving me crazy.

[2017-12-19 10:34] emilhem commented on #16
I have the same issue on an One Plus X (onyx) with LineageOS (I added it to the wiki)

The issue appears both on using device pin and andOTP pin.

I tried adding a few codes and tried making an encrypted backup. After I restarted the app the items were gone as usual and when trying to recover the backup it is empty...

[2017-12-19 11:12] beerisgood commented on #16
@flocke Hardware "protected" with my OnePlus 2

[2017-12-19 12:13] 5t0rmr1d3r commented on #16
My keys are also gone.
I'm using an fairphone2 with lineage.

Im also unable to restore the keys from a backup.
It shows something like "unable to site data"

[2017-12-19 12:20] flocke commented on #16
@5t0rmr1d3r Can you try 2 things for me?
1. Clear the data for andOTP and try importing the backup again
2. Uninstall andOTP and install it again and then try importing the backup again

[2017-12-19 12:28] 5t0rmr1d3r commented on #16
@flocke deleting the appdata worked, after that i could load my backup.

But i don't know why the data vanished...

[2017-12-19 12:43] flocke commented on #16
For some reason the app randomly looses access to the encryption key in the KeyStore.
It appears to happen when you clear cache & dalvik in recovery. But only on some devices, I do it every time I flash a ROM update and it never happened to me.

[2017-12-19 12:49] nomisma-qt commented on #16
I have over 50 OTP entries. I have tried every OTP app available, andOTP is the best of them all hands down. But i need a OTP app every day from morning to evening.

If i go back to another app, and do the massive work of manually setting up every OTP entry i need, fine. But then i'd have to do it all over again if and when this bug gets fixed. I have done that choir more times i can remember now,

[2017-12-19 12:55] SuperVirus opened #88 "Dark Thumbnails (nearly) invisible black theme"
#### General information

* App version: 0.3.1
* App source: F-Droid
* Android Version: 7.1.2
* Custom ROM: LineageOS 14.1-20171215

#### Problem description
All dark thumbnails are (nearly) invisible if the black theme is selected.

These thumbnails are affected:
* Amazon
* AWS
* AngelList
* Apple
* Bitstamp
* GitHub
* LastPass
* Steam

#### Steps to reproduce
* Switch andOTP to the black theme
*

[2017-12-19 14:01] RichyHBM commented on #88
I can take a look at this tonight, I think adding an outline or a background when using a dark theme should be easy enough.
If there are any other ideas as to how best to accomplish this do mention

[2017-12-19 14:03] flocke commented on #88
I think you should test both (outline and background) and see which one looks better.
I'm against different icons for the dark theme just because it would increase the size of the APK again.

[2017-12-20 06:53] Marmo commented on #16
@flocke I also experience that randomness you describe (using stock Android). After wiping the app data (or reinstalling) everything works for some time until suddenly upon app start there is a blank white screen for some seconds and afterwards the tokens are gone.

Please tell me if I can provide anything that helps hunting down that bug.

[2017-12-20 07:01] beerisgood commented on #16
Dont know if it helps: i use the App SealNote from F-Droid and i never got Problems with save Data in this encrypted storage but i think the App use a own encryption way because only a Password can be configured.

[2017-12-20 08:00] flocke commented on #16
@beerisgood Yeah, from what I can see SealNote only uses a purely password-based encryption. They don't use the KeyStore at all.

[2017-12-20 15:46] nomisma-qt commented on #16
who trusts android keystore anyways? c'mon

do a custom solution, independent of the devil.

[2017-12-20 15:47] nomisma-qt commented on #16
'this man will never be president, c'mon'

Obama '2016

[2017-12-20 16:02] RichyHBM commented on #16
A custom solution is on the roadmap, but it all takes time

[2017-12-20 16:39] flocke commented on #16
As @RichyHBM said, I have a plan to implement a custom solution without the KeyStore.
But I currently don't have a lot of time to spend programming so it will have to wait.
Maybe between Christmas and New years I will start implementing it as I have some days of work.

[2017-12-20 16:59] ZJaume commented on #16
Maybe another option for now is to vote the [bug](https://jira.lineageos.org/browse/BUGBASH-590) in the LineageOS JIRA and wait until solved.

[2017-12-21 08:05] flocke commented on #16
Yes, do that as well. I can try to work around the KeyStore bug by providing a custom encryption solution but in the end it is a bug in the ROM that also affects different apps and should be fixed.

[2017-12-21 12:54] RichyHBM commented on #16
I've made a start at some of the things in the todo from the encryption wiki page, hopefully I may have a first pass done and you can look over it. Take the burden off of you a little :)

[2017-12-21 12:57] flocke commented on #16
@RichyHBM Thank you! There is a lot of work to be done to implement this. We will have to change a lot of stuff from the original OTP Authenticator app that I didn't bother to touch until now.

[2017-12-21 14:26] RichyHBM commented on #16
Had a thought, what if as a first pass we allowed people to use something like openkeychain to provide a pub/private key for encrypting and decrypting?

[2017-12-21 15:56] flocke commented on #16
I think this is way more work. Right now we load the encryption key from the KeyStore (well actually we load the key to decrypt the encryption key from there). I think just dropping in a key generated from the users password/PIN instead of the one loaded from the KeyStore is way easier.

[2017-12-21 17:41] MartinX3 commented on #16
Using the encryption key from openkeychain instead of using the one from the keystore is secure and stable, I think, the amount of people who doesn't own a GPG Key is bigger. :(

[2017-12-21 18:04] RichyHBM commented on #16
How do you mean @MartinX3 ?

@flocke I think a first pass doing this should be pretty easy to do, I'll do some investigation, even if its just a short term fix for this bug

One thing I don't get is, if you get k2 and k3 from the user, does that mean you would be asking the users password every time you save the entries?

[2017-12-21 18:09] MartinX3 commented on #16
I mean, that it is a nice idea to encrypt and decrypt the key for the app with the GPG key of the user via openkeychain.
But it is not such a good idea, because not every one has such a key.

[2017-12-21 18:17] flocke commented on #16
@RichyHBM The problem is that we would need to send an intent to OpenKeychain every time the database is loaded or saved. I would like to avoid that.

No, I would think we should cache the encryption key as long as the app is running.
I have a general idea in mind on how to implement everything, I just need the time to actually do it.

@MartinX3 Yeah I'm not generally against the idea, I just thin

[2017-12-25 09:07] clayt0nk opened #91 "All tokens wiped out on update to 0.3.1"
I have two Fdroid-sourced installations of andOTP on two different LineageOS-based Android devices, which I keep in sync and (thankfully) use to back one another up. A few days ago I updated my primary andOTP instance, and the next time I used it, ALL of the tokens were gone, like I had installed it cleanly from the start. I do not recall (but of course cannot absolutely guarantee) I did nothing m

[2017-12-25 09:25] clayt0nk opened #92 "Cannot save otp_accounts.json on LineageOS"
Further to issue #91:

I have two Fdroid-sourced installations of andOTP on two different LineageOS-based Android devices, which I keep in sync and (thankfully) use to back one another up. A few days ago I updated my primary andOTP instance, and the next time I used it, ALL of the tokens were gone, like I had installed it cleanly from the start.

Next step, on the old, un-updated and still perfect

[2017-12-25 09:39] RichyHBM commented on #91
Most likely #16

[2017-12-25 10:13] flocke commented on #92
This is probably a duplicate of #16, the most annoying and random bug I ever encountered.
Did try clearing the apps data before importing the backup again?

[2017-12-25 10:15] flocke commented on #91
Yeah, from your description (and the logcat in your other bugreport) it sounds exactly like #16.

[2017-12-25 10:57] clayt0nk commented on #91
Jesus, you are right. I just stopped and restarted the app and everything is gone again.
This certainly will not fly.....

[2017-12-25 11:01] flocke commented on #91
Yeah, that bug is the most annoying one I ever encountered. And since its most likely a bug in LineageOS itself I can't really fix it.
Some people said that clearing the apps data or uninstalling and reinstalling fixed it for them, but other say even that doesn't work.

[2017-12-25 11:06] clayt0nk commented on #91
Well, halleluja, clearing data allowed me to load the JSON from the other device.
That is doable, if repeatable, though it sounds like it might not necessarily be repeatable.
If it stays put for a few days, I will try to update the other device.

[2017-12-26 14:30] varac commented on #16
Anyone can recommend a different app until this get solved and I can switch back to andOTP ?

[2017-12-26 15:21] MartinX3 commented on #16
That's quite hard, because every APP I tried used the keystore to encrypt the tokens.

And if you find an APP, it should Export the data in a way, this APP understands it.

Am 26. Dezember 2017 15:30:13 MEZ schrieb varac <notifications@github.com>:

--
Mit freundlichen Grüßen

Martin Dünkelmann

[2017-12-26 15:24] MartinX3 commented on #16
That's quite hard, because every APP I tried used the keystore to encrypt the tokens.

And if you find an APP, it should Export the data in a way, this APP understands it.

Am 26. Dezember 2017 15:30:13 MEZ schrieb varac <notifications@github.com>:

--
Mit freundlichen Grüßen

Martin Dünkelmann
--
Mit freundlichen Grüßen

Martin Dünkelmann

[2017-12-26 16:24] flocke commented on #16
Yeah, there are a lot of apps but all I know use the KeyStore as well.
There is a fork of the original OTP Authenticator (which was the base for andOTP as well) which uses a password to encrypt the data. It's called Onetimepad (or something like that) but I don't think its on the PlayStore or F-Droid.

[2017-12-26 17:23] MartinX3 commented on #16
Could you use its code?

Am 26. Dezember 2017 17:24:09 MEZ schrieb Jakob Nixdorf <notifications@github.com>:

--
Mit freundlichen Grüßen

Martin Dünkelmann

[2017-12-26 18:33] flocke commented on #16
The main problem is that I want to keep the current encryption as well. To make both work I will have to write the functions myself. But as I said I have the idea how to do it, I just need the time to actually implement it.

[2017-12-27 09:34] flocke commented on #92
Closing because this is a duplicate of #16.

[2017-12-27 09:34] #92 closed

[2017-12-27 09:34] flocke commented on #91
Closing because this is a duplicate of #16.

[2017-12-27 09:34] #91 closed

[2017-12-27 22:18] Sergi0O commented on #87
To unblock the app in this situations you can edit the file "/data/data/org.shadowice.flocke.andotp/shared_prefs/org.shadowice.flocke.andotp_preferences.xml". Change the value of the string "pref_auth" form "pin" to "none". Then restart the app.

[2017-12-28 19:54] nomisma-qt commented on #16
flocke, i appreciate your desire for working on your desired model, but in light of the importance of your app, and the significance of your code in this moment in history, i'd urge you to consider using your skills to help the people trying to negotiate what is now the final hyperinflational stage of western fiat currencies.

The fact is that hundreds of billions of dollars are flowing in panic a

[2017-12-28 20:00] nomisma-qt commented on #16
Yes flocke, and OTP is the most important piece of software currently available through f-droid. There is no contest. So it's time to rise to the challenge. The people need a solution in hours, not days.

[2017-12-29 10:59] nomisma-qt commented on #16
flocke, if time is your problem, you could consider setting up a btc, ltc and dgb address for contributions if needed. I can guarantee you would receive millions of dollars worth of money within days.

Then you could quit your day job and concentrate on the important things in life. Your coding skills are worth billions. There is no reason for you to be humble in that sense.

[2017-12-29 12:04] flocke commented on #16
@nomisma-qt Please stop spamming (basically) the same thing over and over again, it won't make me fix this bug any faster. I won't release a quick-and-dirty fix first as that usually causes a lot of trouble later when you have to fix your "fix" again. I will release a fixed version as soon as it is ready and tested (approximately in the first two weeks of the new year). If you are impatient then p

[2017-12-29 12:34] MartinX3 commented on #16
@flocke
That's a bot, not a human.
It generates text with a few buzzwords and with some words, like your name, got via the github api.

[2017-12-29 12:36] flocke commented on #16
@MartinX3 That also crossed my mind but his first messages were actually making sense.
Maybe the account got hacked. I'm gonna report him and if he spams again I will block him from the repo.

[2017-12-29 13:13] flocke commented on #16
For everyone that is interested: the implementation of a password-based encryption is coming along nicely in the [custom-encryption](https://github.com/andOTP/andOTP/commits/custom-encryption) branch.

[2017-12-29 13:27] RichyHBM commented on #16
Apologies for not pishing my branch up, with Christmas I have been fairly busy myself, glad you managed to get some free time for this!

If you need anyone to test, let the thread know once that branch is functional and I will build/install it.

Also, am I right in saying if you use the custom encryption, titanium backup will work?

[2017-12-29 14:05] barul42 commented on #16
Same here, as soon as it needs testing I'll be available. Thanks for the work! :)

[2017-12-29 14:40] flocke commented on #16
@RichyHBM Yes, if it works as I intend then you should be able to use Titanium Backup if you have set the encryption to password-based.

[2017-12-29 16:03] flocke commented on #16
Very very early draft of the password-based encryption: https://cloud.shadowice.org/s/32vZoc5Qojd53OE

In this version you should not change the password once you switched to password-based encryption!
There are potentially a lot of other bugs so please, if you run into one, provide me with a detailed description and a logcat!

[2017-12-29 16:17] flocke opened #94 "[Testing] Password-based encryption"
**Please report all bugs encountered in the test version for password-based encryption here!**
Provide a detailed description of how you encountered/reproduced the bug and a logcat!

Download of the test version:
 - v6 (**current**, beta): https://cloud.shadowice.org/s/a5RE3UovB6BuFjf
 - v5 (beta): https://cloud.shadowice.org/s/y1Ckm2Ar5ewGBEk
 - v4 (beta): https://cloud.shadowice.org/s/0vdIcBNKBA

[2017-12-29 21:10] RichyHBM commented on #94
So far so good, and titanium seems to be working as expected

[2017-12-30 04:19] nomisma-qt commented on #16
I'm not a bot. I think maybe you just don't understand what's going on in the world.. Sry if you feel i'm spamming, i guess i'm not good enough for you ppl. It's OK. Thx for the updates.

[2017-12-30 12:29] MartinX3 commented on #16
@nomisma-qt
No one wants to attack you, but you also don't need to occur as a teacher to teach us the world.
That's an open source project and not a paid 40h/week job.
So it is also hard to find help. As example I would help as a java enterprise/microservice developer, but also lack in time because of my job and my spare free time to relax.

We welcome any help in the open source area. :)
So, plea

[2017-12-30 14:11] MaDill opened #95 "3 dots menu is hidden behind "+" button"
when add more accounts and the accounts are just enough to fit the screen and you can not scroll up/down, then the 3 dot menu of the last account is hidden behind the "+" button. Other apps handle this with a "jumping" add button.

[2017-12-30 14:14] MaDill opened #96 "scroll description"
When the description is too longer, it is cut by ... depending on screen size. Maybe the text can slowly scroll to be able to read it. I have the description like <site, url: account>. The important information to decide which account of a site I have to use is in the end. I could change the description, but the account name I use on more sites and then the site information is hidden behind the ..

[2017-12-30 14:45] RichyHBM commented on #95
Can you link to an app with this "jumping" thing?

[2017-12-30 19:44] flocke commented on #96
As of version 0.3.0 that is already an option. You should have an option named "Scroll label" (at least if your app language is English) in the settings.

[2017-12-30 19:47] flocke commented on #95
As @RichyHBM said, could you provide an example of an app that is doing this? I tried to figure out how to handle this for a while now.

[2017-12-30 19:50] flocke commented on #16
I can only agree with what @MartinX3 said, this was in no way intended as an insult or offending in any way. I do this in my free time (with no intention of making this my full time job) so my time to spend on andOTP is limited. I try to focus a lot of my free time on it but my real job and my family and friends always will come first.

[2017-12-31 08:57] MaDill commented on #95
On Macrodroid https://play.google.com/store/apps/details?id=com.arlosoft.macrodroid the "check and save" button is jumping. But it is not OS.

[2017-12-31 08:57] MaDill commented on #96
found it. thank you

[2017-12-31 08:57] #96 closed

[2017-12-31 10:00] flocke commented on #95
The problem with a jumping Add button is that it may block the OTP token (if we have it jump in middle for example). I was thinking of adding a kind of padding at the bottom if the list so if you scroll all the way down the button is just displayed over a blank space.

[2017-12-31 10:01] flocke commented on #95
I will experiment a bit in the new year. Maybe I can come up with something nice.

[2017-12-31 10:32] nomisma-qt commented on #16
It's ok, i'm not offended. I admit i was just frustrated with everything going on, and ranting in this thread was not the best decision :) Thanks for the efforts, i will try to test for bugs to help solve this issue.

[2017-12-31 10:51] MartinX3 commented on #16
@nomisma-qt
That's the right mood! :)
Thank you! :D

[2017-12-31 11:19] RichyHBM commented on #95
Something I have seen in other apps is a dragable fab button, so the user can drag the button to either side or even to the middle.

I should be able to make a PR hopefully tomorrow with this for you to try out if you want

[2017-12-31 11:32] flocke commented on #95
Sure, if you want I would be happy about a PR. Tomorrow is more than fine, I won't be home for the next 2 days, after that I will review it.

[2017-12-31 13:42] RichyHBM opened #98 "Hide thumbnails should just be option in the thumbnails size picker"
As the title suggests I would like to get rid of the additional "show thumbnails" preference and just roll that as an option in the thumbnail size picker

[2017-12-31 15:32] flocke commented on #98
Sounds good to me.

[2017-12-31 17:06] RichyHBM commented on #95
I got the fab moving and snapping to either left, right or the centre depending on where you let go. Still need to make the mini fabs that pop up move with it as they still must pop up on the right.

That said the more I try it out the more I'm siding with just having extra padding on the bottom as the moving fab just isn't very intuitive

[2018-01-01 08:18] saberblaze opened #99 "Add ability to show seed from within andOTP"
Hello, would it be possible to add an option to show the seed from within the app? Maybe with a password prompt before showing them. I use WinAuth on Windows and usually add seeds to both at the same time when I'm setting up 2 factor authorization for a website. However if I am away from my computer and set up the authenticator on andOTP only I would have to export a plain text backup to be able t

[2018-01-01 09:24] gigabytedevelopersinc opened #100 "Option to disable or enable ability to take screenshots"
So, I've been messing around with andOTP trying to see if there are any issues with it or detect any bugs. Well, nothing so far!
But about the disabled ability for users to take screenshots, I personally think it's a nice feature but shouldn't be so on default, so I think that there should be option in the settings page that toggles on/off the ability to take screenshots on andOTP!
Just a humble s

[2018-01-01 10:40] RichyHBM commented on #100
There already is, it is hidden in the secret features.

Have a look in the wiki for the secret features and how to enable them, then the screenshot option will appear in settings (I'm on my phone so can't link to it)

[2018-01-01 10:40] #100 closed

[2018-01-01 11:36] donarrock commented on #94
Sadly for me the app doesn't even launch.

Device: LG G4 (H815)
ROM: latest official LineageOS (lineage-14.1-20171107-nightly-h815-signed.zip)
logcat: https://pastebin.com/5ecgMYHz

[2018-01-01 12:59] RichyHBM commented on #94
@donarrock was this the first time you launched this version? The logcat doesn't make it look like its anything specific with andOTP code, but rather a missing binary.
I wonder if this build is just for arm and that LG is x86?

If you are able to, would you try checking out the custom encryption branch and building to your device yourself?

[2018-01-01 15:24] flocke commented on #94
That shouldn't be a problem. The AVDs I usually use to test andOTP are mostly x86 machines and it always worked there ...
I'm gonna have a look at the logcat when I am back at home tomorrow.

[2018-01-02 02:40] donarrock commented on #94
Thanks for the replies. It seems to be specific to this LineageOS build. I quickly tried a newer unofficial build, and there it didn't crash.

[2018-01-02 17:57] MaDill commented on #95
the moving "+" was just a suggestion which I see on another app. If you think it is not intuitive, what do you think to put the "+" to the top tool bar next to the sorting and search and kick away the other button?

[2018-01-02 21:04] flocke commented on #94
Version 2 is up: https://cloud.shadowice.org/s/Ek6dxFqOyg60nYh
This should be much more stable and you now can also change the authentication method while password-based encryption is enabled.

[2018-01-02 21:06] flocke commented on #16
New test version up, check #94.

[2018-01-02 22:29] RichyHBM commented on #94
I seem to be losing all tokens when I open the app with the latest version, I am also seeing the same exception from a missing binary as @donarrock was, so this may be a red herring, I can try installing a newer nightly for Lineage when one is available (usually fridays) however I also see that exception when I have it stored as keystore and the tokens are fine then.

Here is the full logcat https

[2018-01-03 04:59] flocke commented on #94
That is very strange, I just checked again on my two devices and switching from KeyStore to password-based worked very well in both cases. I see the binary error as well some times, but it still works.

What I am more concerned about is the crypto error (BAD_DECRYPT). Something seems to be going wrong with the decryption of the files.
Can you tell me exactly the steps you took for migrating from K

[2018-01-03 07:37] RichyHBM commented on #94
OK, further testing it seems to happen when ever you close the app from the settings activity without having gone back to the tokens activity, if you go back to the main activity after switching to pass/pin based encryption its all fine. Maybe until you go back to the main activity the entries aren't getting saved with the new key? So when you reopen the app the entries are still encrypted with th

[2018-01-03 07:40] flocke commented on #94
That sound about right. But in the new version the Settings Activity should close automatically after changing the encryption (and save the database when doing so).
Maybe I add a Toast to tell the user that some saving is going on and the app should not be closed.

[2018-01-03 07:41] RichyHBM commented on #94
The settings page doesn't seem to close for me

[2018-01-03 08:30] flocke commented on #94
Stupid question, but are you sure you installed the correct version?
Do you have the new CredentialsPreference when setting up the authentication? Or do you still have the old ListView + a separate password preference? It should already quit the SettingsActivity when you change/set the password/PIN (even if the encryption is still set to KeyStore, a bug in the current test version).

[2018-01-03 09:03] RichyHBM commented on #94
What does the credentials preference look like? 😅
I do have the list view + password preference...

I built and installed from the latest code when you messaged on the group :s
I will try rebuilding

[2018-01-03 09:07] flocke commented on #94
The new CredentialsPreference looks like this:
![screenshot_andotp_20180103-100635](https://user-images.githubusercontent.com/76665/34514471-df9c0d8e-f06d-11e7-9649-b557f95dd53e.png)

[2018-01-03 10:07] RichyHBM commented on #94
OK, yea I just had the wrong version 😅 all good now!

[2018-01-03 11:58] barul42 commented on #94
It seems to be working here, w/ password encryption enabled.
Added an account with the details I saved, quit the app and start it again, everything is still there ! :-D

[2018-01-03 12:28] flocke commented on #94
Nice to know it works. I improved the switching between the encryption types a bit further and adds a lot more fail-safes. I'm post a new test version in the evening and if there are no further bugs reported this will most likely be the final one.

[2018-01-03 16:08] nomisma-qt commented on #94
running latest with password encryption, added 2 entries. The coming 24 hours will tell. If necessary i can wipe cache and dalvik too, without upgrading the ROM (no new ROM avail at this time). I can also provide logs if something goes wrong. thx

[2018-01-03 16:43] nomisma-qt commented on #94
update. with 5 entries stored using password (PIN) encryption, rebooted system to recovery, wipe dalvik + cache, reboot system:

All entries still there!

looks promising..

[2018-01-03 17:19] flocke commented on #94
Just uploaded the (hopefully) final test version: https://cloud.shadowice.org/s/0keZJG5jzBIG4st
Switching between encryption modes and changing the password while password-based encryption is enabled should now be a lot more stable.

[2018-01-03 17:42] RichyHBM commented on #94
Clicking on authentication to open the credentials preference with no tokens causes a crash due to not finding secrets.DAT file

[2018-01-03 17:44] gigabytedevelopersinc opened #103 "Too many duplicates of the default icon in the Thumbnail Selector"
I noticed a count of about 4-6 default icons in the section to select a new thumbnail image
I believe this is a bug as I have had a little look at the EntryThumbnail.java file and can't seem to see the cause of this problem

[2018-01-03 17:44] RichyHBM commented on #94
Hmm, also getting a crash on clicking authentication with tokens.

"Attempt to call Dialog.getCurrentFocus on a null object" from CredentialsPreference.java:225

I'm using a custom build from 5059abf

[2018-01-03 17:48] flocke commented on #94
The error with the `secrets.dat` file is always thrown if no database is found, but that one is harmless.
The dialog error on the other hand could be the reason, let me look into that.

[2018-01-03 18:06] RichyHBM commented on #103
Will take a look at this tonight

[2018-01-03 20:00] RichyHBM commented on #103
@gigabytedevelopersinc I suspect its failing to load some of the thumbnails but I cant repro.
Could you post a screenshot and let me know what version of the app you are running? (Play store, test, custom build...)

[2018-01-03 20:11] nomisma-qt commented on #94
planning to test backup and recovery using latest test version. I won't bother with testing backup/restore or anything with keystore mode for now, i assume it's not resolved as it is an LOS issue.

[2018-01-03 20:52] nomisma-qt commented on #94
backup and restore using encrypted .json file between test.v2 and test.v3 successful. Even with full deletion of app cache + storage and/or cache/dalvik wipe in between. Always successful.

[2018-01-03 21:00] RichyHBM commented on #94
@nomisma-qt are you getting an app crash when you click on authentication on the v3 test app?

[2018-01-03 21:06] nomisma-qt commented on #94
Yes. Trying to set authentication in settings = crash.

[2018-01-03 21:50] flocke commented on #94
@nomisma-qt Could you get me a logcat? I assume it is the Dialog error as well.

[2018-01-03 21:54] nomisma-qt commented on #94
Damn. Let me try. no promises.

[2018-01-03 22:05] flocke commented on #94
I just tried on my 'production device' (I got v3 installed there as well to see if I get some problems with daily usage) and everything works fine here.

[2018-01-03 22:08] nomisma-qt commented on #94
tell me the format and what log you need, i assume system. I run OS monitor. Second option is some FOSS from F-droid updated 6 months ago. What do you use?

[2018-01-03 22:13] nomisma-qt commented on #94
I start andOTP, go to settings -> authentication. The app return to main screen.
I do it again, the app crashes.

For logs pleas give me the link to the logcat app that you are running. I haven't had time the last years to keep up.

[2018-01-03 22:20] RichyHBM commented on #94
You need adb on your computer I think.

Here is my logcat, or atleast all of it untill the stacktrace goes into android land

                                                                           Process: org.shadowice.flocke.andotp, PID: 6563
                                                                           java.lang.NullPointerException: Attempt to invoke virtual method 'android.vi

[2018-01-03 22:28] RichyHBM commented on #94
Seem to have fixed it

[code]

My guess is that when `getDialog` is called at the point at which the dialog is created it is null, but when the dialog is opened with no credentials set the leyboard doesnt show anyway so this fix doesnt change anything. It also hides the keyboard if you change from one of the other credentials to none

[2018-01-03 22:28] nomisma-qt commented on #94
can't get ADB. Too busy. I have to stop my life and move abroad to the east starting tomorrow. For now my TOTP entries are staying. It's all i need. I been trading crypto since one bitcoin was worth $0.01

God bless you all for your help. Please head my warnings. We are facing the destruction of western civilization. Good luck to all.

[2018-01-03 22:34] RichyHBM commented on #94
@nomisma-qt I think we have what we need now, good luck with your travels/move. If only I had of gotten into crypto earlier...

[2018-01-04 06:17] gigabytedevelopersinc commented on #103
There you go!
Haven't had time to turn on Android Studio lately, I and my team would have found a way to help out!
![screenshot_2018-01-04-07-13-52](https://user-images.githubusercontent.com/26210471/34552036-34991208-f11f-11e7-9862-c95e4020395d.png)
![screenshot_2018-01-04-07-13-45](https://user-images.githubusercontent.com/26210471/34552037-350ceee4-f11f-11e7-9079-00e373f86419.png)

[2018-01-04 06:18] gigabytedevelopersinc commented on #103
And Yes, this happens in all the versions ever since the Thumbnail feature was added!

[2018-01-04 06:22] gigabytedevelopersinc commented on #103
Then also, you mentioned that u suspect this is happening because it's failing to load some of the other thumbnails. Well, for once, I also thought the same way but after going through the code, surprise 😲, all the Thumbnails (at least based on what am seeing in the EntryThumbnail.java) are there, it's only the Default (ic_launcher) icon that is duplicated

[2018-01-04 06:27] gigabytedevelopersinc commented on #103
About what phone am using. Well, my phone isn't so common but am running on Android 5.1 (HiOS).
Then, my computer isn't within reach, so am not so sure I can send a logcat now.

[2018-01-04 07:22] RichyHBM commented on #103
Yes, so the app will load up the app icon as a thumbnail when the code that converts a vector image into a drawable fails, it should print out a stack trace when this happens.

Having looked at the images that are failing to load I suspect this is a device/os specific issue and is failing because those images have gradient effects in them, but with out a log cat I'm just guessing really..

[2018-01-04 08:08] gigabytedevelopersinc commented on #103
Honestly, I've counted them all, I don't think there are any images that
are failing to load!
All the available thumbnails are displayed there! It's only the Default
icon that appears more than once!
N/B: I've tried this on several other devices with different Android
versions too, same thing happens. Don't know why!

On Jan 4, 2018 08:22, "Richy HBM" <notifications@github.com> wrote:

[2018-01-04 09:02] nomisma-qt commented on #94
RichyHBM I know this is not the correct forum, and i will stop commenting here, but with my experience and knowledge of history, finance, money and psychology, i can assure you with absolute certainty, that it is not too late for you to position yourself.

Don't think it's too late. You don't need to buy a whole bitcoin to get into crypto. You can still buy a whole litecoin for under 300 dollars.

[2018-01-04 09:02] RichyHBM commented on #103
Well some of them are failing to load, eg you have no bitcoin or origin thumbnail in the screenshot, instead you have the default app icon in their place.

Are you able to build from source? If I can't manage to repro it I may make a branch with the gradient elements removed from the vector images and see if that fixes it

[2018-01-04 09:41] flocke commented on #94
@RichyHBM seems to be right, this is a very easy fix. Will provide a fixed build later today.

[2018-01-04 09:56] RichyHBM commented on #94
@nomisma-qt oh don't worry, I have already positioned myself somewhat, I just wish I had of got some of those $0.01 BTC 😉

But yes, this probably isn't the right place to talk, feel free to message me on telegram if you want to talk more

[2018-01-04 10:56] gigabytedevelopersinc commented on #103
Ok. That's right, I don't have blockchain, origin and some others!
Since I have Android Studio, I believe I should be able to build from
source!
Meanwhile, if I try and provide a logcat, would there still be need to
create a branch as I don't want to stress you guys so much about this since
it seems to be an issue with the OS or something!

On Jan 4, 2018 10:02, "Richy HBM" <notifications@github.c

[2018-01-04 11:29] RichyHBM commented on #103
Well, with the log cat I can hopefully diagnose. That will determine how big of a task this could be 😅

[2018-01-04 12:19] gigabytedevelopersinc commented on #103
Ok... I git cloned the repository and used it to start a small project.
I had followed your directives, though I don't know much about vectors, but I managed to get rid of the gradients and surprise 😲, it worked, no more duplicates! 😂.
The defaulted vectors (thumbnails) were: Bitcoin, Origin, RSS, Skrill and TeamViewer, everything seems to be working just fine now.
Do I make a pull request later t

[2018-01-04 12:22] RichyHBM commented on #103
Great work!!

Feel free to leave it for me if you want, I'll give all the icons a pass and make sure they look as close to how they already do! And I can just chuck it into the current thumbnails branch 😄

Interesting thing to have found out, will be good to keep in mind in the future!

[2018-01-04 12:24] RichyHBM commented on #103
Also @gigabytedevelopersinc, is the screen on your device really low resolution? The icons look awfully janky!

[2018-01-04 16:59] gigabytedevelopersinc commented on #103
Kikikikiki! 😂 😂 😂. Ya ya, it's got nothing to do with the icons, it's a
problem with my phone, whenever the brightness is set to Automatic and
there isn't enough light, the screenshots taken would end up looking weird
and messed up! 😂

On Jan 4, 2018 13:24, "Richy HBM" <notifications@github.com> wrote:

[2018-01-04 17:00] gigabytedevelopersinc commented on #103
Good! Do it yourself! I actually need a little more time to study github!
😂
**winks** 😉

On Jan 4, 2018 17:58, "Gigabyte Developers" <gigabytedevelopers@gmail.com>
wrote:

[2018-01-04 17:21] flocke commented on #94
New build with the crash fixed (and some other refactoring): https://cloud.shadowice.org/s/0vdIcBNKBA6wZ4n

[2018-01-04 18:36] gigabytedevelopersinc commented on #94
Wow! So far so good!
No issues yet!
Works fine for me over here. When are you making a PR and merging this?

On Jan 4, 2018 18:21, "Jakob Nixdorf" <notifications@github.com> wrote:

[2018-01-05 06:54] flocke commented on #94
I plan on merging this in the beginning of next week if no further issues come up. Since there are a lot of new strings to translate with this I need to give the translators some time afterwards so I expect to release the new version in about 2 weeks.

[2018-01-05 13:30] schiessle opened #104 "Add HackerOne icon"
First let me say thank you for this great app. I use it every day! 😃

Now my small feature request: It would be nice to have a hackerone (https://www.hackerone.com/) icon.

[2018-01-05 14:32] RichyHBM commented on #104
I'll add it in with the next batch of thumbnails!

[2018-01-05 20:41] RichyHBM commented on #104
Added in #97, I'm going to close this issue as it will get pulled across when that PR gets merged

[2018-01-05 20:41] #104 closed

[2018-01-05 20:43] RichyHBM commented on #103
I'm going to close this bug as a fix is in a PR, it will get merged in when the next batch of icons come in.
If you still get this issue after the next update (or if you can clone the thumbnails branch and test it) feel free to reopen it!

[2018-01-05 20:43] #103 closed

[2018-01-06 10:01] gigabytedevelopersinc commented on #94
Cool. Haven't experienced any issues with it yet!

[2018-01-06 17:40] paolostivanin opened #105 "[information] linux client available"
Hello,
I developed a [GTK+ OTP client](https://github.com/paolostivanin/OTPClient) for Linux that supports importing andOTP (password) encrypted backups.
If you find this info useful I could open a PR for updating the README. Otherwise feel free to just close this :)

PS in case you change the backup format, please let me know :+1:

BR

[2018-01-06 17:59] flocke commented on #105
Nice, I will definitely add a link somewhere, either the README or the wiki. Will keep this open to remind me to do so.

[2018-01-06 18:34] 2SI3NX opened #106 "Setting the password to setup encrypted backups but doesnt get enabled"
Am i doing something wrong? Or am i missing something?
I tried setting up the password for encrypted backups in Settings

#### General information

* **App version:** 0.3.1
* **App source:** F-Droid
* **Android Version:** 6.0.1

#### Expected result
**What is expected?**
Its expected that when i setup a password for encrypted backups in settings, that it somehow enables a button under the Backup m

[2018-01-06 18:40] #106 closed

[2018-01-07 01:26] gigabytedevelopersinc opened #107 "Automatic Authentication of Users"
Well, I setup PIN mode for authentication and I must say, it is just overkill, love it but a suggestion to help enhance it is, for the PIN, there should be a limit (probably between 4-10), then for the password type of authentication, you could as well set a limit too. Well, the password can be limitless (your choice), but I strongly recommend setting a limit for the PIN mode.
That's my first sugg

[2018-01-07 08:37] flocke commented on #107
I agree with the point about an additional button to submit the PIN / password. In fact this has already been discussed in #87 and will be included in the next release.

A character limit should be easily enough. I don't see much point in having an upper limit (if the user wants to set a ridiculously long password it is his problem in the end). But I will think about a minimum length (4 seems good

[2018-01-07 14:00] gigabytedevelopersinc commented on #107
Great! A minimum limit of 4 for PIN and 6 for password seems just right! 👍👌
Well, for the automatic unlocking the moment the correct password is recognized would have been really overkill, but anyways, we all want to best for andOTP, so anything that in turn results to reduced performance would be a No No for me too (no matter how awesome it would be except there's a way to curtail the performance

[2018-01-08 09:07] gabm commented on #94
well I'm sorry - I'm not even able to start the app - if FC immedately ... :/

here is a logcat: https://pastebin.com/iJ4f7nLu

[2018-01-08 09:18] flocke commented on #94
@gabm I think I see where the problem is, I will upload a new version for you this evening with a potential fix.

[2018-01-08 09:21] gabm commented on #94
@flocke I'll be happy to test ...

[2018-01-08 09:40] flocke commented on #87
I added an additional button to submit the password in the custom-encryption branch.
This issue will be closes once the branch gets merged.

[2018-01-08 11:46] flocke commented on #105
I don't want to clutter the README even more, so I created a new page in the wiki: https://github.com/andOTP/andOTP/wiki/Open-Source-2FA-Apps
Anyone can feel free to add other 2FA Apps for different platforms, the only requirement is that they are open source.

[2018-01-08 11:46] #105 closed

[2018-01-08 11:53] #70 closed

[2018-01-08 17:46] flocke commented on #94
@gabm Could you try and see if this version fixes your crash: https://cloud.shadowice.org/s/y1Ckm2Ar5ewGBEk

[2018-01-08 20:21] gabm commented on #94
unfortunately not... still crashes.. i can provide a logcat tomorrow...

On 8 January 2018 18:46:28 CET, Jakob Nixdorf <notifications@github.com> wrote:

[2018-01-08 20:27] flocke commented on #94
Strange, I thought I knew what was happening.

[2018-01-09 16:21] flocke commented on #94
@gabm Could you get me a logcat with v5? This crash is the only thing preventing me from merging this ;)

[2018-01-09 19:39] gabm commented on #94
@flocke here we go: https://pastebin.com/j4T9QHvC

looks the same problem to me?! maybe its a problem with my setup?!

-> I'm on the latest lineage os 14.1 nightly with microg

[2018-01-09 20:56] RichyHBM commented on #94
I had a similar error when building on a wrong commit.. @gabm, assuming you have a backup could you fully uninstall andOTP, reboot your phone, and redownload/reinstall v5?

[2018-01-09 21:11] flocke commented on #94
The strange thing is that all errors come from the `loadEncryptionKeyFromKeyStore()` function which should catch them ...

[2018-01-09 21:18] RichyHBM commented on #94
That makes me think that something weird is going on with the install, thats why I suggest uninstalling completely first

[2018-01-09 21:36] gabm commented on #94
I tried the uninstall  procedure, but unfortunately without luck :/ still everything the same ..

On 9 January 2018 22:19:00 CET, Richy HBM <notifications@github.com> wrote:

--
M.Sc. Matthias Gabriel
Fakultät für Elektrotechnik und Informationstechnik

Technische Universität Chemnitz
Reichenhainer Straße 70 | R. W440
09126 Chemnitz
Germany

Tel: +49 371 531-34458
Fax: +49 371 531-834458

matthias

[2018-01-09 22:17] flocke commented on #94
Could you try wiping cache & dalvik in recovery after uninstalling the app and install it again after?

[2018-01-10 07:35] flocke commented on #94
@gabm Another question: do you have a secure lockscreen (Pattern, Password, PIN)?

[2018-01-10 07:53] gabm commented on #94
I uninstalled the app, cleared the cache, re-installed and still the same...

In theory I don't have a secure lockscreen set but I also tried this without luck..

Maybe you can give me some hints on where things might go wrong and later today or tomorrow I'll spin up the debugger and try to see what's going on... if u want..

[2018-01-10 08:05] flocke commented on #94
The weird thing is that the app crashes inside a function that was specifically designed to catch all (KeyStore-related) exceptions and show the user an error message instead of just crashing ...

I don't think setting a secure lockscreen should be needed, at least I don't have one on my AVDs that I use to test andOTP. I will try without one later today on my real testing device.
Some of the stuff

[2018-01-10 08:11] gabm commented on #94
no luck :/

[2018-01-10 08:14] gabm commented on #94
as password-based encryption seems to solve problems for a lot of people, maybe u can release it anyway and we continue tracking a new issue against the new version?!

[2018-01-10 09:55] flocke commented on #94
I'm gonna try something this evening, are you up for testing another build @gabm?
I'm just gonna try to catch the `ProviderException` when calling `loadEncryptionKeyFromKeyStore()` even though it isn't supposed to be thrown.

[2018-01-10 10:23] gabm commented on #94
Of course I'm up for testing stuff :)

Here are my findings meanwhile, I attached the debugger and ran the code on my phone:
- when u catch the exception it passes `gen.generateKeyPair();`, but of course crashes later with a nullptr exception on the `getCertificate` call as it hasn't been generated...
- I seem to be affected by this: https://stackoverflow.com/questions/44469020/androidkeystore-key

[2018-01-10 10:40] RichyHBM commented on #94
I was going to say you could change the prefs with root, but that's probably going to be very complex with the password generation and stuff

What if as a first point of contact, on new installs, andOTP asked the user what encryption method to use, and only then would it do a keystore generation (if the user chooses the keystore)

AFAIK you don't have a way to launch the app in order to select pas

[2018-01-10 13:51] flocke commented on #94
Yeah, I was planing something like this for the next release after the initial custom-encryption one.
But maybe I can implement it for this one already. It should be enough to show a message on the first launch and directly take the user to the SettingsActivity where he can change the encryption if he wants.

[2018-01-10 14:17] gabm commented on #94
i think a simple A or B form would do the job..

all this leaves me a bit worried for the state of the encryption implementation in my phone..

[2018-01-10 15:39] flocke commented on #94
I think taking the user to the setting is the best option. Just asking if he wants KeyStore or password-based wouldn't work as he also needs to set a password before enabling password-based encryption.
This is all already implemented in the SettingsActivity, so it's no use doing it again in the MainActivity.

[2018-01-10 16:53] gabm commented on #94
yep makes sense..

[2018-01-10 17:22] flocke commented on #94
@gabm Could you try this version: https://cloud.shadowice.org/s/a5RE3UovB6BuFjf
I tried a last thing to fix the crash, the encryption choice on first launch will come in the next version.

[2018-01-10 18:48] gabm commented on #94
that one works! great!! .. I get an error message telling me that keystore initialisation didn't work, that any saved otp will get lost and that i should opt-in to use password based protection.

[2018-01-10 21:44] flocke commented on #94
Nice, finally caught it all ...
Does the app work if you switch to password-based in settings?  Tomorrow I will add/change the first-use dialog and probably merge the custom-encryption branch to master.

[2018-01-10 21:51] gabm commented on #94
yep, looks good so far ...

[2018-01-11 08:06] RichyHBM opened #109 "Support Google Sync for backups (Where available)"
This is a ticket to detail the requirements and current standing of the google sync support branch

As per https://developer.android.com/guide/topics/data/testingbackup.html

Non Google Play installs of the app will continue to function as they currently do, they just wont support this feature.

This will also only work if the user is using PIN/Password based encryption as the KeyStore based encry

[2018-01-11 11:26] alexanderadam commented on #95
A probable easy fix would be to enable more scrolling tolerance.
So if a user could scroll and stay into the empty space access would be possible again.

[2018-01-11 11:31] alexanderadam opened #110 "Whitespace between three figures"
Might be just a small issue:

I think it improves readability a bit if you there would be a whitespace between number triples (like Google Authenticator have it for example)

so it would be nice to have something like `343343` instead of `343343`

Thank you very much for your work 👍

[2018-01-11 11:56] flocke commented on #110
This one was already requested in #83 and is implemented in PR #93.
I will merge it as soon as the custom-encryption branch is done.

[2018-01-11 11:56] #110 closed

[2018-01-11 12:19] #87 closed

[2018-01-11 12:19] #94 closed

[2018-01-11 12:19] #107 closed

[2018-01-11 12:21] flocke commented on #94
It is done! I merged the custom-encryption branch to master, let's see about all those pull requests ...

[2018-01-11 14:10] #98 closed

[2018-01-11 14:25] #83 closed

[2018-01-11 14:51] flocke commented on #95
I tried the PR by @RichyHBM and I also don't find the moving FAB very intuitive. I got it working with a bit of extra padding at the bottom looking something like this if you scroll to the bottom:

![screenshot_andotp_20180111-154640](https://user-images.githubusercontent.com/76665/34831399-2571ef34-f6e7-11e7-8038-0a665ff7c695.png)

If you are not at the bottom the padding disappears and it's the

[2018-01-11 14:53] #95 closed

[2018-01-12 09:48] flocke commented on #94
Just an **important update** to all testers of the password-based encryption:

I decided to change the size of the encryption key generated from the password to match the size used in KeyStore-mode (128-bit). Due to that change you won't be able to upgrade directly from the test-version to the next release. You will have to backup, uninstall the test-version, install the release and restore.

[2018-01-14 12:16] enwokoma opened #112 "Language switcher doesn't work"
So I noticed that when I switch languages from the settings page, the screen of andOTP flashes but yet nothing happens, the language still remains in English, it just doesn't switch!
Could this be a bug or what? Am quite confused 😕 because I noticed the strings for other languages exist in the source of andOTP but it doesn't work within the app, why?

[2018-01-14 13:12] flocke commented on #112
Which language are you trying to switch to and which version are you using?

[2018-01-14 19:37] enwokoma commented on #112
All of them and it's the latest version!

On Jan 14, 2018 14:12, "Jakob Nixdorf" <notifications@github.com> wrote:

[2018-01-14 20:04] flocke commented on #112
Strange, I just tried it with the last version on my phone (unreleased) and it works well. I haven't touched anything on the code since the initial release. Which Android version are you using?
@RichyHBM can you try the language changed on your phone and report back?

[2018-01-14 20:41] RichyHBM commented on #112
@flocke Works fine on my phone, LineageOS 14.1 and the current play store version

[2018-01-14 21:25] enwokoma commented on #112
Here you go! Running on 5.1 HiOS.
![screenshot_2018-01-14-22-21-46](https://user-images.githubusercontent.com/26168869/34920827-8cf68df6-f979-11e7-83f6-37e6f148f9f3.png)
![screenshot_2018-01-14-22-21-35](https://user-images.githubusercontent.com/26168869/34920828-8d84e006-f979-11e7-8552-2e6e5e7799c4.png)
![screenshot_2018-01-14-22-21-25](https://user-images.githubusercontent.com/26168869/34920829-

[2018-01-15 07:36] flocke commented on #112
Never heard, of HiOS before but it seems to be based on Android Lollipop. I'm gonna try the switcher in a Lollipop AVD later today.

[2018-01-15 08:05] gigabytedevelopersinc commented on #112
Ya ya. It seems to be a problem of lollipop devices because I also tried it
on another lollipop device and it doesn't work still!

On Jan 15, 2018 8:36 AM, "Jakob Nixdorf" <notifications@github.com> wrote:

[2018-01-15 08:07] flocke commented on #112
If it is a problem on all Lollipop devices I should be able to reproduce and debug it pretty easily.

[2018-01-15 08:07] enwokoma commented on #112
I guess so too, could be an issue with lollipop!

[2018-01-15 08:13] flocke opened #113 "Fix crash with no Bitcoin app installed"
This is just a reminder for myself to fix the app crashing when you have no Bitcoin app installed and click on the donate link for @RichyHBM.

[2018-01-15 09:14] RichyHBM commented on #113
Woops! I think previously in other apps I have made it just copy the address to the clipboard, I'll see if I can pull out an implementation and submit a PR ASAP

[2018-01-15 09:17] RichyHBM commented on #112
I was going to say, HiOS was the one giving problems for vectors with gradients. Maybe something wrong with the rom? Can you guys change language in other apps?

[2018-01-16 00:45] enwokoma commented on #112
Sorry for the late reply, but yes, I am able to switch languages in other apps.
![screenshot_2018-01-16-00-48-10](https://user-images.githubusercontent.com/26168869/34966809-e18cfd4c-fa5e-11e7-9ea5-0bda78d106e7.png)
![screenshot_2018-01-16-00-48-04](https://user-images.githubusercontent.com/26168869/34966810-e227f78e-fa5e-11e7-9f99-478d15fe22e7.png)

[2018-01-16 01:02] flocke commented on #112
Which app is that? Is it open source as well?

[2018-01-16 06:22] enwokoma commented on #112
It's a File Manager app, not entirely sure if it's Open-Source

[2018-01-16 06:27] enwokoma commented on #112
Ya ya. It is Open-Source, just found it [here](https://github.com/RuijiePan/FileManager)

[2018-01-16 08:33] flocke commented on #112
Nice, then I can take a peek at how they implemented it.

[2018-01-17 09:25] #113 closed

[2018-01-17 09:44] flocke commented on #112
@enwokoma Could you try and get me a logcat on your device? I can't see anything majorly different on their app.

[2018-01-17 11:21] RichyHBM commented on #11
Broadcast receivers are in PR #115, if I remember right I think we decided against having an internal recurring backup mechanism (@flocke to confirm) as there are free methods to accomplish this and it seems like a feature that isn't really core to a 2fa app

[2018-01-17 11:23] RichyHBM commented on #46
I'm personally not a fan of the automatic restore idea, auto backup will be possible once the broadcast receivers go in

[2018-01-17 11:29] RichyHBM commented on #79
I remember looking in to this a while back and it would require our app to have accessibility permissions (read the whole screen, which I'm not keep about) as well as having some way to link an OTP entry with a particular website. As well as that there would be no easy way of identifying a 2fa input field.

What I could see easier to accomplish is include a status bar quick tile to quickly open an

[2018-01-17 12:27] flocke commented on #79
After some research I think we should not implement this as well. I agree with @RichyHBM that the additional permission to read the whole screen is not really something I want in andOTP.

[2018-01-17 12:29] flocke commented on #11
Yes, I think once the BroadcastReceivers are implemented the rest can easily be done with an external app. I'm totally fine with not having an internal way to schedule backups.

[2018-01-17 12:31] flocke commented on #46
Yeah automatic restore is something I am not to keen on as well.

What I was thinking is maybe to allow the user to define the location where `secrets.dat` is stored so you can move it to the external storage. Combined with password-based encryption that would also allow you to sync the DB between different devices using an external app like Syncthing or Nextcloud.

[2018-01-17 12:34] flocke commented on #112
After a bit of research this happens to me as well on any AVD running something older than Nougat.
I'm gonna need some time to figure this out.

[2018-01-17 14:48] RichyHBM commented on #112
As a temporary work around, the app does always seem to obey the system language, even on devices < Android N

[2018-01-17 17:18] #79 closed

[2018-01-17 22:27] #112 closed

[2018-01-17 22:28] flocke commented on #112
Done, at least in my tests it now works on every AVD from KitKat to Oreo!

[2018-01-18 00:59] enwokoma commented on #112
Ok. I just checked it out with the latest commit and yes! It works only problem is, on selecting the Chinese language, the app crashes and shows **Unfortunately, andOTP has stopped.**. Then it looks like the **PyccKNÑ** language doesn't change anything **_(Could this be that it hasn't yet been translated to that language?_**
![screenshot_2018-01-18-01-51-49](https://user-images.githubusercontent.c

[2018-01-18 01:02] enwokoma commented on #112
Then, I also noticed that for some reason, selecting the English language changes the language of andOTP to a language that's not English,
![screenshot_2018-01-18-01-52-23](https://user-images.githubusercontent.com/26168869/35075473-73df626c-fbf3-11e7-8406-17741868bc97.png)
I kinda have this feeling that the English language was swapped with the PyccKNÑ language (probably by mistake)!

[2018-01-18 01:10] enwokoma commented on #112
Well, so far so good. But I noticed that over 90% of the words in andOTP isn't changed to Chinese when I selected the Chinese language, same thing happens when I select the PycckNÑ language too! (Could this be that andOTP haven't been translated properly to these languages)?

[2018-01-18 06:50] flocke commented on #112
I just tried it, for me there are a lot of translated strings in Chinese when I switch. There are still some untranslated ones but not many, definitely not 90%. I tested on all Android versions in AVDs and it's the same everywhere.

[2018-01-21 12:37] krisu5 opened #119 "Humble Bundle icon"
It would be nice that Humble Bundle icon would be added.

Couple vector options for icon:
- ["Bindle" logo](https://drive.google.com/open?id=0BxnfJ5MQi2uTSmtyeUdRQkM2QU0) (.EPS)
- ["H" logo](https://drive.google.com/open?id=0BxnfJ5MQi2uTOHBobVBCbk5MVU0) (vectorized .PSD, for some reason)

Source: https://support.humblebundle.com/hc/en-us/articles/202742060-Bundle-Logos

Just in case, I uploaded th

[2018-01-21 17:27] tastytea commented on #119
A generic Terminal/SSH icon would also be nice.
 * https://openclipart.org/download/212873/1421942630.svg ([public domain](https://openclipart.org/share))
 * https://upload.wikimedia.org/wikipedia/commons/6/6f/Octicons-terminal.svg ([MIT License](https://commons.wikimedia.org/wiki/File:Octicons-terminal.svg))

[2018-01-21 19:10] flocke commented on #119
I'm for the "H" logo and the 2nd terminal one. If @RichyHBM doesn't find the time I'm gonna try adding them myself on Monday.

[2018-01-22 12:32] RichyHBM commented on #119
I should be able to put them in this evening, but by all means feel free to add them before hand

[2018-01-22 13:21] #119 closed

[2018-01-22 13:22] flocke commented on #119
Both done, found some time to do it myself.

[2018-01-22 13:45] krisu5 commented on #119
Thanks for icons and for the great app!

[2018-01-24 18:50] RichyHBM opened #120 "Add Grid/Tile based view"
As you add more and more entries the default list view starts to get a bit unwielding. To mitigate this, as well as the tabs, I purpose allowing a grid/tile based view.

I have been working on this over the last couple days and have reached the point where I would like some user input.

Currently I have it like this:
<img width="431" alt="grid" src="https://user-images.githubusercontent.com/547227

[2018-01-24 20:11] flocke commented on #120
I never thought of this before, but I like the idea. The Authy interface looks really nice, although I think it will be harder to implement compared to a simple popup.

[2018-01-24 21:04] Wyall opened #121 "Add Reddit Icon"
Could you add the reddit icon as they seem to activate 2FA for more users now?

[2018-01-24 21:37] flocke commented on #121
Gonna try to get this in before the next release.

[2018-01-25 05:20] 5t0rmr1d3r commented on #120
I also like the Authy like interface more.

[2018-01-25 08:56] RichyHBM commented on #120
OK, will see if an authy like interface is viable. My main concern is with landscape devices, but I guess I can split it left-right when its landscape

[2018-01-29 17:37] Buxdehuda opened #122 "Add some universal icons"
I'd like to suggest to add more universal icons that aren't specific to a particular service. For example an e-mail icon (envelope) and a controller of some sort (NES/XBox styled) for gaming related accounts. Especially when using less known sites this could help to reduce the amount of icons needed to be included in the app.

[2018-01-29 20:42] RichyHBM commented on #122
Happy to put a few extra if you an think of a list of stuff needed @Buxdehuda

[2018-01-29 21:15] Buxdehuda commented on #122
In addition to these two already mentioned I could think of a generic cloud icon, one wallet-like symbol for bank accounts and perhaps an 'education' icon with this squared hat, though I don't know if this one is so important.

[2018-01-30 18:25] RichyHBM commented on #122
OK, I will add a bunch of icons from the material guideline set

[2018-01-30 20:51] Buxdehuda commented on #122
Great, thank you!

[2018-01-30 21:20] RichyHBM commented on #120
This is what I have managed to get
![qemu-system-i386_2018-01-30_21-18-42](https://user-images.githubusercontent.com/5472275/35591891-57bed418-0603-11e8-8f09-e559ab4922d1.png)
![qemu-system-i386_2018-01-30_21-18-51](https://user-images.githubusercontent.com/5472275/35591899-5c3af864-0603-11e8-8bcd-bddbfbb6e897.png)
![qemu-system-i386_2018-01-30_21-19-14](https://user-images.githubusercontent.com/5

[2018-01-31 20:37] #121 closed

[2018-01-31 20:37] #122 closed

[2018-02-01 08:12] flocke commented on #46
But the more I think about this moving `secrets.dat` to external storage is another security issue as it would be accessible even without root or ADB. I think I will just close this request. It's not something a pure 2FA App needs.

[2018-02-01 08:22] #46 closed

[2018-02-01 09:24] RichyHBM commented on #46
I agree, a work around can be achieved once we have the trigger able backups in, and with the help of scripts to convert from an and otp backup to what ever file format is needed

[2018-02-01 11:15] SuperVirus commented on #11
I would suggest starting an automated backup after each change to the accounts.
Maybe this is easier to implement and should be a good strategy against data loss.

[2018-02-01 11:19] RichyHBM commented on #11
Should be fairly easy to accomplish

[2018-02-03 11:33] ximmox opened #125 "Suggestion: Add service logo: Evernote"
Hello,

in my change from thenticate to andOTP I noticed one very popular service, that is missing a represeting logo within andOTP: Evernote.

There are plenty of logos to be found online, my suggestion is taking the App-Logo from the official Play Store listing: it's square, should scale well and has the Evernote colors, which makes it visible in all app design (bright/dark/black).

You can find

[2018-02-03 11:40] ximmox commented on #125
Sorry, didn't notice that there is a wiki-entry for these requests. Will add it there.

[2018-02-03 11:40] #125 closed

[2018-02-03 12:01] ximmox commented on #73
bump issue as requested in Wiki, I added Evernote and suggested an alternative icon for Amazon, which is more square.

Please have a look and tell me if any other input is needed. Thanks for the wiki entry, that explains your preferred way of handling icons!

[2018-02-03 16:32] max-wittig opened #126 "Feature Request: Rename and delete tags"
Currently it doesn't seem to be possible to rename tags in the app or to delete existing tags.

Is that right or am I missing something?

Using version from Google PlayStore from February 1, 2018 - 0.4.0.1

[2018-02-03 17:39] RichyHBM commented on #126
The tags system is pretty basic, to delete a tag remove it from all entries. Remaining isn't directly possible so you'll have to delete and create a new one

[2018-02-04 11:11] max-wittig commented on #126
Okay thank you. Any plans to improve on this in the future?

[2018-02-04 11:26] enwokoma opened #127 "Add Fingerprint and Face Authentication"
Nice work so far! Though the Google backup feature is yet to be implemented, a new feature that would be really awesome to see in andOTP is the ability to set up authentication mode to Fingerprint or Face ID!
Just like the way u added password and PIN authentication! I think it would be nice to allow a user to open/authenticate andOTP using his Fingerprint or his face, andOTP when authentication i

[2018-02-04 11:32] enwokoma commented on #120
Not looking bad at all, though I think there might be issues with this when the label or tags length are too long!
How do we plan a workaround for this?

[2018-02-04 12:04] RichyHBM commented on #126
I don't think so, maybe the issue comes from the thought that tags are more like folders, where as they actually are filters

[2018-02-04 12:07] RichyHBM commented on #127
AndOTP already allows using the systems authentication, so if you set your lock screen to use fingerprint I assume it should just work.

I don't have a fingerprint device so I can't test it myself

[2018-02-04 12:58] RichyHBM commented on #120
Same way they currenty do, if the label is too long to fit it can use the scroll feature

[2018-02-04 13:43] enwokoma commented on #127
Ya ya. I think it does, but this isn't what I was suggesting because setting andOTP to use device credentials as the means of authentication means that if a user has more than 1 Fingerprint data/id registered on his device, it means that another person can gain access to use andOTP just because his Fingerprint is registered on the users device!

To me, this isn't just right! Just saying!

[2018-02-04 16:31] flocke commented on #127
That's something I will have to think about. It seems like a lot of effort to implement and is in my opinion not something a simple 2FA app needs.

[2018-02-04 16:33] flocke commented on #126
I'm gonna assign this to you @RichyHBM and let you make the decision. In my opinion the tag system is totally fine as it is now.

[2018-02-04 18:41] RichyHBM commented on #126
I think I'm going to close this specific issue as the tags are a filteringsystem, thus the side bar just displays any tags associated with an entry. I dont really know what we would want renaming/deleting to do, unless it were just mass renaming or deleting all tags on their entries..

But if you have any other suggestions please feel free to open another issue!

[2018-02-04 18:41] #126 closed

[2018-02-04 18:43] RichyHBM commented on #127
Personally I think adding fingerprint/face reader directly into andOTP is a bit excessive. Any fingerprint/face reading functionality should ideally just be provided by android, so unless there is a way to have a fingerprint on a per app basis I dont think this should be added.

[2018-02-04 19:28] filalex77 opened #128 "Crashes after update to 0.4.0.1"
#### General information

* **App version:** 0.4.0.1
* **App source:** F-Droid
* **Android Version:** 5.1
* **Custom ROM:** No (Flyme 6)

#### Expected result
**What is expected?**
Starting up normally

**What does happen instead?**
Crashes after entering PIN

#### Logcat
[code]

#### Steps to reproduce
 Upgrade 0.3.1 to 0.4.0.1, start the app

[2018-02-04 19:37] flocke commented on #128
An here I thought I caught all null pointer exceptions. Let me look into it tomorrow.

[2018-02-04 20:11] filalex77 commented on #128
@flocke Yeah, sure. Staying on 0.3.1 for now - it works. Thanks for the great project :)

[2018-02-05 04:19] ximmox commented on #127
System authentication works fine with the device's registered fingerprints, so no need to implement it on your own (just tested, Moto Z, Lineage 14.1, microG).
If you trust others to unlock your phone with their fingerprints but don't trust them with your OTP tokens, that's not really a common problem I suppose...

[2018-02-05 06:06] enwokoma commented on #127
Cool! Can you send a snapshot of how the authentication is requested for on andOTP when it has been set to use system authentication

Like the layout that is shown when the user is requested to scan his/her Fingerprint before gaining access to use andOTP!

[2018-02-05 06:10] enwokoma commented on #127
Kikikikiki! 😂 😂 😂. That line

Mehn it's just savage! 😂 😂 😂

[2018-02-05 12:46] ximmox commented on #127
It looks like this: https://imgur.com/a/hqoIb

[2018-02-05 14:41] enwokoma commented on #127
Not bad! Closing this since it actually works when authentication is set to Device Credentials!

[2018-02-05 14:41] #127 closed

[2018-02-05 14:48] flocke commented on #128
Could you get me the full logcat? The one you posted seems to be filtered to only show entries from andOTP. From what I can get from the partial log it seems that the Intent in https://github.com/andOTP/andOTP/blob/9d4cde29461cbdcf89be83ca2e7f690d955a430c/app/src/main/java/org/shadowice/flocke/andotp/Activities/MainActivity.java#L401 is `null`. However that can happen ...

[2018-02-05 15:35] filalex77 commented on #128
Yes, I did filter it for clarity. Here's the [full logcat](https://gist.github.com/588b2e0b1eac71758093971ded4f1afd) (reinstalled 0.4.0.1, tried to start it 2 times). Hope it helps!

[2018-02-05 15:36] RichyHBM commented on #127
As an alternative @enwokoma if you really want to lock andOTP behind a fingerprint that is different to your main lock screen, the app AppLock on the play store can do that I

[2018-02-05 16:06] enwokoma commented on #127
Cool! Thanks!
U could do well to add that info somewhere in the README.md or WIKI because, not everyone would have the idea about this!

[2018-02-05 22:47] RichyHBM commented on #127
I don't really think that info is relevant to andOTP tbh

[2018-02-06 13:57] flocke commented on #128
Did you install 0.4.0.1 clean or did you upgrade from 0.3.1?
Could you try setting up 0.4.0.1 clean?

[2018-02-06 15:13] filalex77 commented on #128
Sure. I will double-check my backups and then try clean installing.

[2018-02-06 19:35] Flnch commented on #128
@flocke I also had the app crashing after upgrading from 0.3.1 but with an error message complaining about the Android KeyStore. After setting up a clean actual version and importing my backup everything works fine again.

[2018-02-06 21:29] filalex77 commented on #128
Confirmed: clean installation works, imported backups.

[2018-02-06 21:29] #128 closed

[2018-02-07 08:42] flocke commented on #128
Nice, I will still look into it because I really don't get how the intent can be `null` (I tested upgrading from 0.3.1 several times and it never happened).

[2018-02-07 12:20] iknownothingaboutcomputers commented on #31
@flocke Hi. Do I need to install Open Keychain in order to encrypt backups? Or is it just needed to sign encrypted backups with a key? I ask because although I've entered a password for Backups in 'Settings', the 'Encrypted backups' option continues to remain greyed out. Database encryption is set to Password/PIN (I use a PIN).

[2018-02-07 12:36] iknownothingaboutcomputers commented on #16
@devz3r0 How did you export your keys from FreeOTP?

**Your comment**: "I have the same issue, I imported my tokens from freeotp but they won't stay as well. I have the lastes lineage as well and deleting the app data won't work as I installed the app freshly."

[2018-02-07 12:43] rodrigoaguilera commented on #16
I just updated lineageOS 14.1 and andOTP to the 0.4.0.1
I configured a password and the file storage and the tokens seem to persist even between reboots.

Thank you so much to the developers!

[2018-02-07 12:52] flocke commented on #31
If you want to use password-encrypted backups you do not need to install OpenKeychain. Once you set a password in the settings it should be available.